@font-face {
    font-family: 'ITC Century Std';
    src: url('CenturyStd-Book.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'DancingScript';
    src: url('DancingScript-VariableFont_wght.ttf');
    font-weight: 600;
    font-style: normal;
}
