<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <!-- bar color -->
    <meta name="theme-color" content="#fff">
    <meta name="msapplication-navbutton-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff">
    <!-- favicon -->
    <!--<link rel="icon" href="<%= BASE_URL %>favicon.ico">-->
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- font -->
    <link rel="stylesheet" href="font/stylesheet.css">
    <!-- static scripts -->
    <script src="js/jquery-3.2.1.min.js" defer></script>
    <script src="js/jquery-ui.min.js" defer></script>
    <script src="js/ffl-scaleadjuster-1.0.1.min.js" defer></script>
    <script src="js/fflcom_userApp_init.js" defer></script>
    <script src="js/ffl-pallet.js" defer></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="stage_0">
      <div id="stage_1">
        <div id="app"></div>
        <canvas
            id="Mycanvas"
            width="1280"
            height="960"
            style="background-color: rgba(255,255,255,0.0);position: absolute;display:block;top:0;z-index:-1"></canvas>
      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
