<template>
  <div id="app">
    <S12Component/>
  </div>
</template>

<script>
import S12Component from '../components/s1-02.vue'

export default {
  name: 'App',
  components: {
    S12Component
  }
}
</script>

<style>
</style>
