<template>
  <div id="app">
    <S13Component/>
  </div>
</template>

<script>
import S13Component from '../components/s1-03.vue'

export default {
  name: 'App',
  components: {
    S13Component
  }
}
</script>

<style>
</style>
