<template>
  <div id="app">
    <S14Component/>
  </div>
</template>

<script>
import S14Component from '../components/s1-04.vue'

export default {
  name: 'App',
  components: {
    S14Component
  }
}
</script>

<style>
</style>
