<template>
  <div id="app">
    <S15Component/>
  </div>
</template>

<script>
import S15Component from '../components/s1-05.vue'

export default {
  name: 'App',
  components: {
    S15Component
  }
}
</script>

<style>
</style>
