<template>
  <div id="app">
    <S24Component />
  </div>
</template>

<script>
import S24Component from '../components/s2-04.vue'

export default {
  name: 'App',
  components: {
    S24Component
  }
}
</script>

<style>
</style>
