<template>
  <div id="app">
    <S317Component/>
  </div>
</template>

<script>
  import S317Component from '../components/s3-17.vue'

  export default {
    name: 'App',
    components: {
      S317Component
    }
  }
</script>
