<template>
  <div id="app">
    <S319Component/>
  </div>
</template>

<script>
  import S319Component from '../components/s3-19.vue'

  export default {
    name: 'App',
    components: {
      S319Component
    }
  }
</script>
