<template>
  <div id="app">
    <S313Component/>
  </div>
</template>

<script>
  import S313Component from '../components/s3-13.vue'

  export default {
    name: 'App',
    components: {
      S313Component
    }
  }
</script>