<template>
  <div id="app">
    <S318Component/>
  </div>
</template>

<script>
  import S318Component from '../components/s3-18.vue'

  export default {
    name: 'App',
    components: {
      S318Component
    }
  }
</script>
