<template>
  <div id="app">
    <S314Component/>
  </div>
</template>

<script>
 import S314Component from '../components/s3-14.vue'

  export default {
    name: 'App',
    components: {
      S314Component,
    }
  }
</script>