<template>
  <div id="app">
    <S315Component/>
  </div>
</template>

<script>
  import S315Component from '../components/s3-15.vue'

  export default {
    name: 'App',
    components: {
      S315Component
    }
  }
</script>
