<template>
   <S312Component/>
</template>

<script>
import S312Component from '../components/s3-12.vue'

export default {
  name: 'App',
  components: {
    S312Component
  }
}
</script>

<style>
</style>
