<template>
  <div id="app">
    <S316Component/>
  </div>
</template>

<script>
import S316Component from '../components/s3-16.vue'

export default {
  name: 'App',
  components: {
    S316Component
  }
}
</script>

<style>
</style>
