<template>
  <div id="app">
    <!-- displaying of C angle for s3-20 is setting here -->
    <S319Component v-bind:is-show-c-angle="true"/>
  </div>
</template>

<script>
  import S319Component from '../components/s3-19.vue'

  export default {
    name: 'App',
    components: {
      S319Component
    }
  }
</script>
