<template>
  <div>
    <div class="figure-wrapper">
      <div id="figure"></div>
    </div>
    <div class="footer">
      <div :class="'button mod1 ' + activeClass" v-on:click="anchorCircle()"></div>
      <div class="button" v-on:click="initCircle()"></div>
    </div>
  </div>
</template>

<script>
  import * as JXG from '../assets/jsx/jsxgraphsrc.js'

  export default {
    name: "s1-05",
    props: {
      isVisibleLess: Boolean,
      isVisibleEqual: Boolean,
      isVisibleGreater: Boolean,
      isVisibleCircle: Boolean,
      isChanged: Boolean,
      circleFigure: Object
    },
    data () {
      return {
        changed: this.isChanged,
        visible: false,
        lineCenret: this.circleFigure,
        Aline: this.circleFigure,
        Bline: this.circleFigure,
        angle: this.circleFigure,
        centralPoint: this.circleFigure,
        Ahatch: this.circleFigure,
        Bhatch: this.circleFigure,
        browser: false,
        activeClass: "",
      }
    },
    mounted() {
      this.browserEI();
      this.initCircle();
    },  
    methods: {
      updateWidth() {
        this.initCircle()
      },
      browserEI() {
        let ua = window.navigator.userAgent.toLowerCase()
        this.browser = (/trident/gi).test(ua) || (/msie/gi).test(ua);
      },
      anchorCircle() {
        if (this.activeClass == "") {
          this.activeClass = "active"
        } else {
          this.activeClass = ""
        }
        this.visible = !this.visible
        if (this.visible) {
          this.lineCenret.rendNode.setAttribute('class', 'red');
          this.centralPoint.isDraggable = false;
          this.Aline.rendNode.setAttribute('class', 'hide-line black');
          this.Bline.rendNode.setAttribute('class', 'hide-line black');
          this.Ahatch.rendNode.setAttribute('class', 'hide-line black hatch-class');
          this.Bhatch.rendNode.setAttribute('class', 'hide-line black hatch-class');
          this.angle.rendNode.setAttribute('class', 'hide-line black angle');
          this.centralPoint.rendNode.setAttribute('class', 'drag-hide');
        } else {
          this.lineCenret.rendNode.setAttribute('class', 'hide-line');
          this.centralPoint.isDraggable = true;
          this.Aline.rendNode.setAttribute('class', 'hide-line');
          this.Bline.rendNode.setAttribute('class', 'hide-line');
          this.Ahatch.rendNode.setAttribute('class', 'hide-line');
          this.Bhatch.rendNode.setAttribute('class', 'hide-line');
          this.angle.rendNode.setAttribute('class', 'hide-line angle');
          this.centralPoint.rendNode.setAttribute('class', 'drag');
        }
        
      },
      initCircle() {
        // clear previous svg content
        document.getElementById("figure").innerHTML = '';
        this.activeClass = ""

        // disable reset button
        this.changed = false;
        // disable visible button
        this.visible = false;

        // attributes
        const strokeColor = 'black';
        const commonAttrs = {name: '', strokeColor};
        const hatchArttrs = { insertTicks: true, ticksDistance:.09, tickEndings:[.8, .8]};
        const pointAttrs = (name,fixed, x, y) => ({name, fixed, strokeColor, fillColor:'black', label:{autoPosition: true, offset:[x, y]}});
        const pointAttrsDrag = (name,fixed) => (
          {
            name,
            fixed,
            strokeColor: 'rgba(192, 192, 192, .7)',
            fillColor: 'black',
            face: 'circle',
            strokeWidth: 20,
            highlightStrokeOpacity: 1,
            highlightStrokeWidth: 1,
            size: 4,
          }
        );

        // circle geometry
        const brd = JXG.JSXGraph.initBoard('figure', {
          keepaspectratio: true,
          boundingbox: [-4.5, 4, 4, -4.2],
          pan: {
            enabled: false,
          },
          zoom: {
            enabled: false,
          },
          showZoom: false,
          showNavigation: false,
        });

        this.lineCenret = brd.create('line',[[0,3.1],[0,-3.1]], {StraightFirst: false, StraightLast: false, fixed: true, strokeColor:"transparent"})

        const l1 = brd.create('line',[[0,.85],[0,-2.2]], {StraightFirst: false, StraightLast: false, fixed: true, strokeColor:"transparent"})

        this.centralPoint = brd.create('glider', [0, 0, l1], pointAttrsDrag('O', false));
        const pA = brd.create('point', [-1.8,-1.6], pointAttrs('A', true, -30, -20));
        const pB = brd.create('point', [1.8 ,-1.6], pointAttrs('B', true, 20, -20));
        let circle = brd.create('circle',[this.centralPoint, pB], {name: '', strokeColor, dash:8});

        const onLine = brd.create('point', [0,-1.6], {fixed: true, rx: 0, name: ''});

        onLine.rendNode.setAttribute('class', 'hide-elips');
        this.centralPoint.rendNode.setAttribute('class', 'drag');

        const fl = brd.create('segment',[this.centralPoint,pB],commonAttrs);
        const sl = brd.create('segment',[pA,this.centralPoint],commonAttrs);

        fl.rendNode.setAttribute('class', 'lineDash');
        sl.rendNode.setAttribute('class', 'lineDash');
        circle.rendNode.setAttribute('class', 'lineDash');

        this.angle = brd.create('nonreflexangle', [pB, onLine, this.centralPoint],{withLabel:false,radius:0.3});

        this.lineCenret.rendNode.setAttribute('class', 'hide-line')
        l1.rendNode.setAttribute('class', 'hide-line')

        this.Aline = brd.create('line',[[-1.8,-1.6],[0,-1.6]],{StraightFirst: false, StraightLast: false, strokeColor, fixed: true})
        this.Bline = brd.create('line',[[0,-1.6],[1.8,-1.6]],{StraightFirst: false, StraightLast: false, strokeColor, fixed: true})

        this.Ahatch = brd.create('hatch', [this.Aline, 2],hatchArttrs)
        this.Bhatch = brd.create('hatch', [this.Bline, 2],hatchArttrs)

        this.Aline.rendNode.setAttribute('class', 'hide-line')
        this.Bline.rendNode.setAttribute('class', 'hide-line')
        this.Ahatch.rendNode.setAttribute('class', 'hide-line hatch-class')
        this.Bhatch.rendNode.setAttribute('class', 'hide-line hatch-class')
        this.angle.rendNode.setAttribute('class', 'hide-line angle');

        this.centralPoint.label.moveTo([0.2, .3]);

        brd.update();

        this.centralPoint.on('drag', () => { // OPTIMIZE add debounce
          this.changed = true;

          const x = Math.round(this.centralPoint.coords.usrCoords[1] * 100)/100;
          const y = Math.round(this.centralPoint.coords.usrCoords[2] * 100)/100;

          if (y < -1.6) {
            this.centralPoint.label.moveTo([x + .2, y - .5]);
          } else {
            this.centralPoint.label.moveTo([x + .2, y + .4]);
          }

          if (this.browser) {
            circle.remove()
            circle = brd.create('circle',[this.centralPoint, pB], {name: '', strokeColor, dash:3});
          }
        })
      }
    },
  }
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/jsx/jsxgraph.css" scoped></style>

<style scoped>
#figure {
  margin-top: -30px;
}
.footer {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-end;
  align-items: flex-end;
}
.figure-wrapper {
  width: 800px;
  margin: 0 auto;
}
.button,
.reset-btn {
  margin-bottom: 10px;
  margin-top: 0;
  min-width: 100px !important;
}
::v-deep .lineDash {
  stroke-dasharray: 6;
}
::v-deep .angle {
  stroke-width: 1.4;
}
::v-deep .hatch-class {
  stroke-width: 1.4;
}
::v-deep .drag,
::v-deep #figure_jxgBoard56917P3,
::v-deep #figure_jxgBoard56917P5 {
  stroke-dasharray: 0;
}
::v-deep .hide-line {
  stroke: transparent;
  rx: 0;
}
::v-deep path {
  stroke: black;
  fill: #7fd05e;
}
::v-deep .red {
  stroke: #ec6c00 !important;
}
::v-deep .black {
  stroke: black !important;
}
::v-deep path {
  stroke: black;
  fill: #fff;
}
.button {
  width: 150px;
  height: 60px;
}
.footer {
  right: 250px;
}
</style>