<template>
    <div>
      <p class="header">
        <span></span>
      </p>
        <div class="figure-wrapper">
            <div id="figure"></div>
        </div>
        <div class="footer">
            <div class="button" v-on:click="initCircle()"></div>
        </div>
    </div>
</template>

<script>
  import * as JXG from '../assets/jsx/jsxgraphsrc.js'

  export default {
    name: "s1-02",
    props: {
      issetDisplayRendNodeFirst: Boolean,
      issetDisplayRendNodeSecond: Boolean,
      issetDisplayRendNodeThird: Boolean,
      isChanged: Boolean
    },
    data () {
      return {
        first: this.issetDisplayRendNodeFirst,
        second: this.issetDisplayRendNodeSecond,
        third: this.issetDisplayRendNodeThird,
        changed: this.isChanged,
        arrow: "",
        arrow1: "",
        browser: null,
      }
    },
    mounted() {
      this.initCircle();
    },
    methods: {
      updateWidth() {
        this.initCircle()
      },
      initCircle() {
        // clear previous svg content
        document.getElementById("figure").innerHTML = '';

        // disable reset button
        this.changed = false;

        // second text as default
        this.first = false;
        this.second = true;
        this.third = false;

        // attributes
        const strokeColor = 'black';
        const commonAttrs = {name: '',strokeColor};
        const lineArttrs = {name: '', strokeColor, StraightFirst: false, StraightLast: false};
        const angleAttrs = {strokeColor, withLabel:false, fillOpacity:1, fillColor:'#fff', radius:0.3};
        const pointAttrs = (name,fixed) => ({name,fixed,strokeColor,fillColor:'black'});

        // circle geometry
        const brd = JXG.JSXGraph.initBoard('figure', {
          keepaspectratio: true,
          boundingbox: [-6, 4, 5, -4],
          pan: {
            enabled: false,
          },
          zoom: {
            enabled: false,
          },
          showZoom: false,
          showNavigation: false,
          zoomFactor: 1.2,
        });

        const pO = brd.create('point', [0,0], pointAttrs('O', true));
        const pA = brd.create('point', [0,-2.5], pointAttrs('A', true));

        const circle = brd.create('circle',[pO,pA], commonAttrs);

        const l0 =  brd.create('line', [pA, pO], lineArttrs);

        const l1 = brd.create('line', [[-3.5, -0.7], [3.5, -0.7]], lineArttrs);

        const aP = brd.create('glider', [3.5, 0, l1], pointAttrs('', true));

        const hideLine = brd.create('line', [[-3.44, 0], [-3.44, -2.5]], {name: '', fixed: true, strokeColor, StraightFirst: false, StraightLast: false});

        const pM = brd.create('glider', [-3.44, -0.7, hideLine], {name:'',fixed: false,strokeColor,fillColor:'black', size: 15});

        let arrow1 = brd.create('point', [-0.49, 0.3], {name: '', fixed: true,strokeColor: 'red', fillColor:'red', anchor: pM, size: 0})
        let arrow2 = brd.create('point', [-0.49, -0.3], {name: '', fixed: true,strokeColor: 'red', fillColor:'red', anchor: pM, size: 0})

        const pc0 = brd.create ('intersection', [l0, l1, 0], pointAttrs('', true))

        const pc1 = brd.create ('intersection', [circle, l1, 0], pointAttrs('', true));
        brd.create ('otherintersection', [circle, l1, pc1], pointAttrs('', true));

        pc0.rendNode.setAttribute('class', 'hide-elips');
        aP.rendNode.setAttribute('class', 'hide-elips');
        pM.rendNode.setAttribute('class', 'drag');

        const angle = brd.create('nonreflexangle', [pO, pc0, aP], angleAttrs);
        const angle2 = brd.create('nonreflexangle', [pA, pc0, aP], angleAttrs);
        angle.rendNode.setAttribute('class', 'hide-angle');
        angle2.rendNode.setAttribute('class', 'hide-stroke');
        arrow1.label.rendNode.setAttribute('class', 'JXGtext arrow-red');
        arrow2.label.rendNode.setAttribute('class', 'JXGtext arrow-red top');
        pM.label.rendNode.setAttribute('class', 'JXGtext new-font');
        pA.rendNode.setAttribute('class', 'grey');
        hideLine.rendNode.setAttribute('class', 'hide-stroke');
        pM.label.rendNode.setAttribute('class', 'JXGtext let-m');
        

        brd.update();

        // replace pointLabels
        pO.label.moveTo([-0.1,0.2]);
        pA.label.moveTo([-0.1, -2.76]);
        pM.label.moveTo([-4.02, -0.7]);
        arrow1.label.moveTo([-3.96, -0.4]);
        arrow2.label.moveTo([-3.96, -1]);

        pM.on('drag', () => {

          let y = Math.round(pM.coords.usrCoords[2] * 100)/100;
          let yTrack = l1.bounds()


          l1.setPosition(JXG.COORDS_BY_SCREEN, [0, (yTrack[1] - y) * -1])
          if (y >= -0.35) {
            angle2.rendNode.setAttribute('class', 'hide-angle');
            angle.rendNode.setAttribute('class', 'hide-stroke');
          } else {
            angle.rendNode.setAttribute('class', 'hide-angle');
            angle2.rendNode.setAttribute('class', 'hide-stroke');
          }

        })

        l1.on('drag', () => { // OPTIMIZE add debounce
          this.changed = true;

          let yTrack = l1.bounds()
          
          pM.moveTo([-3.44, yTrack[3]])
          //pL.moveTo([x2, y2]);

          if  (yTrack[0] < -3.5) {
            // xL
            l1.setPosition(JXG.COORDS_BY_SCREEN, [(yTrack[0] + 3.5) * -1, 0])
          }
          if  (yTrack[2] > 3.5) {
            //xr
            l1.setPosition(JXG.COORDS_BY_SCREEN, [(yTrack[2] - 3.5) * -1, 0])
          }
          if  (yTrack[1] > 0) {
            // yt
            l1.setPosition(JXG.COORDS_BY_SCREEN, [0, yTrack[1] * -1])
          }
          if  (yTrack[3] < -2.5) {
            //yb
            l1.setPosition(JXG.COORDS_BY_SCREEN, [0, (yTrack[3] + 2.5) * -1])
          }
          if (yTrack[1] >= -0.35) {
            angle2.rendNode.setAttribute('class', 'hide-angle');
            angle.rendNode.setAttribute('class', 'hide-stroke');
          } else {
            angle.rendNode.setAttribute('class', 'hide-angle');
            angle2.rendNode.setAttribute('class', 'hide-stroke');
          }
        })
      }
    },
  }
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/jsx/jsxgraph.css" scoped></style>

<style scoped>
#figure {
  margin-top: -30px;
}
::v-deep path {
  stroke: black;
}
::v-deep .hide-elips {
  opacity: 0;
}
::v-deep .hide-angle {
  fill: transparent !important;
  stroke: black !important;
  stroke-width: 1.4px;
}
::v-deep .hide-stroke {
  stroke: transparent  !important;
  fill: transparent !important;
  stroke-width: 1.4px;
}
::v-deep .arr-class {
  font-size: 28px !important;
  color: red !important;
  font-weight: 900;
}
::v-deep .drag{
  stroke-width:0;
  fill: rgba(192, 192, 192, .7) !important;
}
::v-deep .grey{
  fill: rgba(192, 192, 192, .7) !important;
  stroke: rgba(192, 192, 192, .7)  !important;
}
::v-deep .onli-red {
  color: red !important;
}
::v-deep .let-m {
  height: 38px;
  width: 38px;
  background-image: url(../assets/m.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
::v-deep .arrow-red {
  height: 28px;
  width: 18px;
  background-image: url(../assets/Arrow-top.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
::v-deep .arrow-red.top {
  background-image: url(../assets/Arrow.svg);
}
.footer {
  right: 0 !important;
}
.button {
  width: 150px;
  height: 60px;
}

</style>