<template>
  <div>
    <div class="figure-wrapper">
        <div id="figure"></div>
    </div>
    <div class="footer">
      <div :class="'button mod1 ' + activeClass" v-on:click="anchorCircle()"></div>
      <div class="button" v-on:click="initCircle()"></div>
    </div>
  </div>
</template>

<script>
  import * as JXG from '../assets/jsx/jsxgraphsrc.js'

  export default {
    name: "s1-03",
    props: {
      isChanged: Boolean,
      circleFigure: Object,
    },
    data () {
      return {
        changed: this.isChanged,
        h1: this.circleFigure,
        h2: this.circleFigure,
        h3: this.circleFigure,
        h4: this.circleFigure,
        h5: this.circleFigure,
        h6: this.circleFigure,
        p1: this.circleFigure,
        p2: this.circleFigure,
        l1: this.circleFigure,
        l2: this.circleFigure,
        l3: this.circleFigure,
        l4: this.circleFigure,
        cPoint: this.circleFigure,
        cPoint1: this.circleFigure,
        cPoint2: this.circleFigure,
        cPoint3: this.circleFigure,
        cPoint4: this.circleFigure,
        lleft1: this.circleFigure,
        angle1: this.circleFigure,
        angle2: this.circleFigure,
        point1: this.circleFigure,
        point2: this.circleFigure,
        poLine: this.circleFigure,
        p2hZ: this.circleFigure,
        p2hX: this.circleFigure,
        arrow: "↑",
        arrow1: "↓",
        visible: false,
        activeClass: "",
        nowX: 0,
        nowY: 1,
        nowX2: 4,
        nowY2: 1,
        startX: 0,
        startY: 1,
      }
    },
    mounted() {
      this.initCircle();
    },
    methods: {
      updateWidth() {
        this.initCircle()
      },
      anchorCircle() {
        if (this.activeClass == "") {
          this.activeClass = "active"
        } else {
          this.activeClass = ""
        }
        this.visible = !this.visible
        if (this.visible) {
          this.h1.rendNode.setAttribute('class', 'hatch-class-red');
          this.h2.rendNode.setAttribute('class', 'hatch-class-red');
          this.h3.rendNode.setAttribute('class', 'hatch-class-red');
          this.h4.rendNode.setAttribute('class', 'hatch-class-red');
          this.h5.rendNode.setAttribute('class', 'hatch-class-red');
          this.h6.rendNode.setAttribute('class', 'hatch-class-red');

          this.l1.rendNode.setAttribute('class', 'stroke-dash');
          this.l2.rendNode.setAttribute('class', 'stroke-dash');
          this.l3.rendNode.setAttribute('class', 'stroke-dash');
          this.l4.rendNode.setAttribute('class', 'stroke-dash');
          this.l5.rendNode.setAttribute('class', 'stroke-dash');
          this.l6.rendNode.setAttribute('class', 'stroke-dash');
          this.lleft1.rendNode.setAttribute('class', 'stroke-dash');
          this.angle2.rendNode.setAttribute('class', 'angle-point-red');

          this.cPoint.label.rendNode.setAttribute('class', 'JXGtext let-l');
          this.cPoint3.rendNode.setAttribute('class', 'custom-elips red');
          this.cPoint4.rendNode.setAttribute('class', 'custom-elips red');

          this.point1.rendNode.removeAttribute('class');
          this.point2.rendNode.removeAttribute('class');
          this.poLine.rendNode.setAttribute('class', 'hide-line');

          this.p1.isDraggable = false;
          this.p2.isDraggable = false;
          this.p1.moveTo([this.startX, this.startY]);
          this.p2.moveTo([this.startX + 4, this.startY]);
          this.p1.rendNode.setAttribute('class', 'drag-hide');
          this.p2.rendNode.setAttribute('class', 'drag-hide');
          this.p2hZ.rendNode.removeAttribute('class');
          this.p2hX.rendNode.removeAttribute('class');
        } else {
          this.h1.rendNode.setAttribute('class', 'hatch-hide');
          this.h2.rendNode.setAttribute('class', 'hatch-hide');
          this.h3.rendNode.setAttribute('class', 'hatch-hide');
          this.h4.rendNode.setAttribute('class', 'hatch-hide');
          this.h5.rendNode.setAttribute('class', 'hatch-hide');
          this.h6.rendNode.setAttribute('class', 'hatch-hide');

          this.l1.rendNode.setAttribute('class', 'hide-line');
          this.l2.rendNode.setAttribute('class', 'hide-line');
          this.l3.rendNode.setAttribute('class', 'hide-line');
          this.l4.rendNode.setAttribute('class', 'hide-line');
          if (!this.changed) {
            this.l5.rendNode.setAttribute('class', 'hide-line');
            this.l6.rendNode.setAttribute('class', 'hide-line');
          }
          
          this.lleft1.rendNode.setAttribute('class', 'hide-line');
          this.cPoint.label.rendNode.removeAttribute('class');

          this.angle2.rendNode.setAttribute('class', 'angle-point-red hide');

          this.point1.rendNode.setAttribute('class', 'hide-elips');
          this.point2.rendNode.setAttribute('class', 'hide-elips');
          this.p1.rendNode.setAttribute('class', 'drag');
          this.p2.rendNode.setAttribute('class', 'drag');
          this.poLine.rendNode.setAttribute('class', 'stroke-dash');

          this.cPoint3.rendNode.setAttribute('class', 'custom-elips hide red');
          this.cPoint4.rendNode.setAttribute('class', 'custom-elips hide red');

          this.p1.isDraggable = true;
          this.p2.isDraggable = true;
          this.p1.moveTo([this.nowX, this.nowY]);
          this.p2.moveTo([this.nowX2, this.nowY2]);
          this.p2hZ.rendNode.setAttribute('class', 'hide-elips');
          this.p2hX.rendNode.setAttribute('class', 'hide-elips');
        }
      },
      initCircle() {
        // clear previous svg content
        document.getElementById("figure").innerHTML = '';
        this.activeClass = ""
        this.visible = false

        // disable reset button
        this.changed = false;

        this.nowX = this.startX
        this.nowY = this.startY
        this.nowX2 = this.startX + 4
        this.nowY2 = this.startY

        // attributes
        const strokeColor = 'black';
        const hatchArttrs = { insertTicks: true, ticksDistance:.09, tickEndings:[.7, .7]};
        const lineArttrs = {name: '', strokeColor, StraightFirst: false, StraightLast: false};
        const angleAttrs = (color) => ({strokeColor: color, withLabel:false, fillOpacity:1, fillColor:'white', radius:0.3});
        const pointAttrs = (name,fixed) => ({name, fixed, strokeColor, fillColor:'black' });
        const pointAttrsDrag = (name,fixed) => (
          {
            name,
            fixed,
            strokeColor: 'rgba(192, 192, 192, .7)',
            fillColor: 'black',
            face: 'circle',
            strokeWidth: 20,
            highlightStrokeOpacity: 1,
            highlightStrokeWidth: 1,
            size: 4,
            showInfobox: false,
          }
        );

        // circle geometry
        let brd = JXG.JSXGraph.initBoard('figure', {
          keepaspectratio: true,
          pan: {
            enabled: false,
          },
          boundingbox: [-6.5, 3, 5.5, -6.5],
          zoom: {
            enabled: false,
          },
          showZoom: false,
          showNavigation: false,
          zoomFactor: 1.3,
        });
        

        // // point
        const pA = brd.create('point', [-4, -2], pointAttrs('A', true));
        const pB = brd.create('point', [0, -2], pointAttrs('B', true));
        const pO = brd.create('point', [3, 1], pointAttrs('', true));

        const center1 = brd.create('point', [-2, -2], pointAttrs('', true));
        const center2 = brd.create('point', [3, -2], pointAttrs('', true));

        const phA = brd.create('point', [-2, 1.5], pointAttrs('', true));
        const phB = brd.create('point', [-2, -4], pointAttrs('', true));
        this.point1 = brd.create('point', [-2, -1], pointAttrs('', true));
        this.point2 = brd.create('point', [-2, -3.5], pointAttrs('', true));

        this.cPoint1 = brd.create('point', [-3, -2], {name:'', fixed:true, strokeColor, fillColor:'black' , size: 9});
        this.cPoint2 = brd.create('point', [-1, -2], {name:'', fixed:true, strokeColor, fillColor:'black' , size: 9});
        this.cPoint3 = brd.create('point', [2, -2], {name:'', fixed:true, strokeColor, fillColor:'black' , size: 9});
        this.cPoint4 = brd.create('point', [4, -2], {name:'', fixed:true, strokeColor, fillColor:'black' , size: 9} );

        const p2A = brd.create('point', [1, -2], pointAttrs('A', true));
        const p2B = brd.create('point', [5, -2], pointAttrs('B', true));

        this.cPoint = brd.create('point', [3, 1.5], pointAttrs('', true));
        const p2hB = brd.create('point', [3, -4], pointAttrs('', true));
        this.p2hX = brd.create('point', [3, -1], pointAttrs('', true));
        this.p2hZ = brd.create('point', [3, -3.5], pointAttrs('', true));

        // // line

        const l1 = brd.create('line', [pA, pB], lineArttrs);
        const l2 = brd.create('line', [phA, phB], lineArttrs);

        const lt1 = brd.create('line', [p2A, p2B], lineArttrs);
        this.lleft1 = brd.create('line', [this.cPoint, p2hB], lineArttrs);

        const gA = brd.create('glider', [-4, -2, l1], pointAttrs('', true));
        const gB = brd.create('glider', [0, -2, l1], pointAttrs('', true));
        const g2A = brd.create('glider', [1, -2, lt1], pointAttrs('', true));
        const g2B = brd.create('glider', [5, -2, lt1], pointAttrs('', true));

        this.l1 = brd.create('line', [this.point2, gA], lineArttrs);
        this.l2 = brd.create('line', [gB, this.point2], lineArttrs);

        this.l3 = brd.create('line', [gA, this.point1], lineArttrs);
        this.l4 = brd.create('line', [gB, this.point1], lineArttrs);

        const lt31 = brd.create('line', [this.p2hZ, g2A], lineArttrs);
        const lt32 = brd.create('line', [g2B, this.p2hZ], lineArttrs);

        const lt41 = brd.create('line', [g2A, this.p2hX], lineArttrs);
        const lt42 = brd.create('line', [g2B, this.p2hX], lineArttrs);

        // // glider

        this.p1 = brd.create('glider', [0, 1, l2], pointAttrsDrag('P', false));
        this.p2 = brd.create('glider', [4, 1, this.lleft1], pointAttrsDrag('P', false));

        const strP = brd.create('glider', [4, 1, this.lleft1], {name:'', fixed:true, strokeColor, fillColor:'black' , size: 0});
        const strO = brd.create('glider', [4, 1, this.lleft1], {name:'', fixed:true, strokeColor, fillColor:'black' , size: 0});

        const lt51 = brd.create('line', [g2A, pO], lineArttrs);
        const lt52 = brd.create('line', [g2B, pO], lineArttrs);

        this.poLine = brd.create('line', [strO, strP], lineArttrs);

        this.l5 = brd.create('line', [gA, this.p1], lineArttrs);
        this.l6 = brd.create('line', [gB, this.p1], lineArttrs);

        // //angle

        this.angle1 = brd.create('nonreflexangle', [this.p1, center1, pB], angleAttrs('#00b0f0'));
        this.angle2 = brd.create('nonreflexangle', [this.p2, center2, p2B], angleAttrs('#00b0f0'));

        //hatch

        const h1 = brd.create('hatch', [lt31, 3], hatchArttrs);
        const h2 = brd.create('hatch', [lt32, 3], hatchArttrs);
        const h3 = brd.create('hatch', [lt41, 2], hatchArttrs);
        const h4 = brd.create('hatch', [lt42, 2], hatchArttrs);
        const h5 = brd.create('hatch', [lt51, 1], hatchArttrs);
        const h6 = brd.create('hatch', [lt52, 1], hatchArttrs);

        this.h1 = brd.create('hatch', [this.l1, 3], hatchArttrs);
        this.h2 = brd.create('hatch', [this.l2, 3], hatchArttrs);
        this.h3 = brd.create('hatch', [this.l3, 2], hatchArttrs);
        this.h4 = brd.create('hatch', [this.l4, 2], hatchArttrs);
        this.h5 = brd.create('hatch', [this.l5, 1], hatchArttrs);
        this.h6 = brd.create('hatch', [this.l6, 1], hatchArttrs);

        // add class

        phA.rendNode.setAttribute('class', 'hide-elips');
        this.cPoint.rendNode.setAttribute('class', 'hide-elips');
        p2hB.rendNode.setAttribute('class', 'hide-elips');
        this.point1.rendNode.setAttribute('class', 'hide-elips'); //
        pA.rendNode.setAttribute('class', 'hide-elips');
        pB.rendNode.setAttribute('class', 'hide-elips');
        this.p2hZ.rendNode.setAttribute('class', 'hide-elips');////
        this.p2hX.rendNode.setAttribute('class', 'hide-elips');////
        pO.rendNode.setAttribute('class', 'hide-elips');
        p2A.rendNode.setAttribute('class', 'hide-elips');
        p2B.rendNode.setAttribute('class', 'hide-elips');
        phB.rendNode.setAttribute('class', 'hide-elips');
        gA.rendNode.setAttribute('class', 'hide-elips');
        gB.rendNode.setAttribute('class', 'hide-elips');
        g2A.rendNode.setAttribute('class', 'hide-elips');
        g2B.rendNode.setAttribute('class', 'hide-elips');
        this.point2.rendNode.setAttribute('class', 'hide-elips'); //
        center1.rendNode.setAttribute('class', 'hide-elips');
        center2.rendNode.setAttribute('class', 'hide-elips');

        this.poLine.rendNode.setAttribute('class', 'stroke-dash');
        this.lleft1.rendNode.setAttribute('class', 'stroke-dash hide-line');

        this.l1.rendNode.setAttribute('class', 'stroke-dash hide-line');
        this.l2.rendNode.setAttribute('class', 'stroke-dash hide-line');
        this.l3.rendNode.setAttribute('class', 'stroke-dash hide-line');
        this.l4.rendNode.setAttribute('class', 'stroke-dash hide-line');
        this.l5.rendNode.setAttribute('class', 'stroke-dash hide-line');
        this.l6.rendNode.setAttribute('class', 'stroke-dash hide-line');

        h1.rendNode.setAttribute('class', 'hatch-class');
        h2.rendNode.setAttribute('class', 'hatch-class');
        h3.rendNode.setAttribute('class', 'hatch-class');
        h4.rendNode.setAttribute('class', 'hatch-class');
        h5.rendNode.setAttribute('class', 'hatch-class');
        h6.rendNode.setAttribute('class', 'hatch-class');

        this.h1.rendNode.setAttribute('class', 'hatch-class-red');
        this.h2.rendNode.setAttribute('class', 'hatch-class-red');
        this.h3.rendNode.setAttribute('class', 'hatch-class-red');
        this.h4.rendNode.setAttribute('class', 'hatch-class-red');
        this.h5.rendNode.setAttribute('class', 'hatch-class-red');
        this.h6.rendNode.setAttribute('class', 'hatch-class-red');

        this.h1.rendNode.setAttribute('class', 'hatch-hide');
        this.h2.rendNode.setAttribute('class', 'hatch-hide');
        this.h3.rendNode.setAttribute('class', 'hatch-hide');
        this.h4.rendNode.setAttribute('class', 'hatch-hide');
        this.h5.rendNode.setAttribute('class', 'hatch-hide');
        this.h6.rendNode.setAttribute('class', 'hatch-hide');

        this.cPoint1.rendNode.setAttribute('class', 'custom-elips');
        this.cPoint2.rendNode.setAttribute('class', 'custom-elips');
        this.cPoint3.rendNode.setAttribute('class', 'custom-elips red hide');
        this.cPoint4.rendNode.setAttribute('class', 'custom-elips red hide');
        this.cPoint.label.rendNode.setAttribute('class', 'JXGtext new-font');
        phA.label.rendNode.setAttribute('class', 'JXGtext let-l');

        this.angle1.rendNode.setAttribute('class', 'angle-point');
        this.angle2.rendNode.setAttribute('class', 'angle-point-red hide');

        this.p1.rendNode.setAttribute('class', 'drag');
        this.p2.rendNode.setAttribute('class', 'drag');

        brd.update();

        // replace pointLabels
        pA.label.moveTo([-4.23, -2]);
        pB.label.moveTo([.05, -2]);
        p2A.label.moveTo([.75, -2]);
        p2B.label.moveTo([5, -2]);
        this.p1.label.moveTo([-2.4, 1]);
        this.p2.label.moveTo([2.65, 1]);
        phA.label.moveTo([-2.155, 1.7]);
        this.cPoint.label.moveTo([2.85, 1.8]);

        this.p1.on('drag', () => { // OPTIMIZE add debounce
          this.changed = true;

          const x = Math.round(this.p1.coords.usrCoords[1] * 100)/100;
          const y = Math.round(this.p1.coords.usrCoords[2] * 100)/100;

          this.nowX = x
          this.nowY = y

          this.l5.rendNode.removeAttribute('class');
          this.l5.rendNode.setAttribute('class', 'stroke-dash');
          this.l6.rendNode.removeAttribute('class');
          this.l6.rendNode.setAttribute('class', 'stroke-dash');
        })

        this.p2.on('drag', () => { // OPTIMIZE add debounce
          this.changed = true;

          const y = Math.round(strP.coords.usrCoords[2] * 100)/100;
          const y2 = Math.round(strO.coords.usrCoords[2] * 100)/100;

          const x1 = Math.round(this.p2.coords.usrCoords[1] * 100)/100;
          const y1 = Math.round(this.p2.coords.usrCoords[2] * 100)/100;

          this.nowX2 = x1
          this.nowY2 = y1

          if (y > y1) {
            strP.moveTo([x1, y1])
          }
          if (y2 < y1) {
            strO.moveTo([x1, y1])
          }
        })
      }
    },
  }
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/jsx/jsxgraph.css" scoped></style>

<style scoped>
#figure {
  margin-top: -30px;
}
::v-deep .let-l {
  height: 32px;
  width: 32px;
}
::v-deep path {
  stroke: black;
}
::v-deep .hide-elips {
  rx: 0;
}
::v-deep .custom-elips {
  rx: 10;
  ry: 10;
  stroke: #00b0f0;
  fill: transparent !important;
}
::v-deep .custom-elips.red {
  stroke: #ec6c00;
}
::v-deep .custom-elips.hide {
  stroke: transparent;
}
::v-deep .hide-line {
  fill: transparent !important;
  stroke: #fff !important;
  stroke-width: 0;
}
::v-deep .hatch-class {
  stroke: #00b0f0;
  stroke-width: 2px;
}
::v-deep .hatch-class-red {
  stroke: #ec6c00;
  stroke-width: 2px;
}
::v-deep .hatch-hide {
  stroke: white !important;
}
::v-deep .stroke-dash {
  stroke-dasharray: 6;
}
::v-deep .hide-stroke {
  stroke: white  !important;
}
::v-deep .angle-point {
  stroke: #00b0f0 !important;
  fill: white;
  stroke-width: 1.4px;
}
::v-deep .angle-point-red {
  stroke: #ec6c00;
  fill: white;
  stroke-width: 1.4px;
  stroke-dasharray: 80;
  stroke-dashoffset: 125;
}
::v-deep .angle-point-red.hide {
  stroke: white !important;
}
.footer {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-end;
  align-items: flex-end;
}
.button,
.reset-btn {
  margin-bottom: 10px;
  margin-top: 0;
  min-width: 100px !important;
}
.footer {
  right: 0 !important;
}
.button {
  width: 150px;
  height: 60px;
}
</style>