<template>
  <div>
    <div class="figure-wrapper">
      <div id="figure"></div>
    </div>
    <div class="footer">
      <div :class="'button mod1 ' + activeClass" v-on:click="anchorCircle()"></div>
      <div class="button" v-on:click="initCircle()"></div>
    </div>
  </div>
</template>

<script>
  import * as JXG from '../assets/jsx/jsxgraphsrc.js'

  export default {
    name: "s1-04",
    props: {
      isChanged: Boolean,
      circleFigure: Object,
    },
    data () {
      return {
        changed: this.isChanged,
        h1: this.circleFigure,
        h2: this.circleFigure,
        h3: this.circleFigure,
        h4: this.circleFigure,
        h5: this.circleFigure,
        h6: this.circleFigure,
        h7: this.circleFigure,
        h8: this.circleFigure,
        p1: this.circleFigure,
        p2: this.circleFigure,
        pa1: this.circleFigure,
        pa2: this.circleFigure,
        bi2: this.circleFigure,
        angle1: this.circleFigure,
        angle2: this.circleFigure,
        angle3: this.circleFigure,
        angle4: this.circleFigure,
        b1: this.circleFigure,
        b2: this.circleFigure,
        b1P: this.circleFigure,
        b1P2: this.circleFigure,
        glider: this.circleFigure,
        strLine: this.circleFigure,
        pdpoint: this.circleFigure,
        b2g1: this.circleFigure,
        arrow: "↑",
        arrow1: "↓",
        visible: false,
        activeClass: "",
        nowX: -1.6,
        nowY: 1,
        nowX2: 3.4,
        nowY2: 1,
        startX: 3.4,
        startY: 1,
      }
    },
    mounted() {
      this.initCircle();
    },
    methods: {
      updateWidth() {
        this.initCircle()
      },
      anchorCircle() {
        if (this.activeClass == "") {
          this.activeClass = "active"
        } else {
          this.activeClass = ""
        }
        this.visible = !this.visible
        if (this.visible) {
          this.bi2.rendNode.setAttribute('class', 'stroke-dash');
          this.p1.isDraggable = false;
          this.p2.isDraggable = false;

          this.p1.rendNode.setAttribute('class', 'drag-hide');
          this.p2.rendNode.setAttribute('class', 'drag-hide');

          this.p1.moveTo([this.startX - 5, this.startY]);
          this.p2.moveTo([this.startX, this.startY]);

          this.h5.rendNode.setAttribute('class', 'hatch-class-red');
          this.h6.rendNode.setAttribute('class', 'hatch-class-red');
          this.h7.rendNode.setAttribute('class', 'hatch-class-red');
          this.h8.rendNode.setAttribute('class', 'hatch-class-red');
          this.pa1.rendNode.setAttribute('class', 'angle-point-red');
          this.pa2.rendNode.setAttribute('class', 'angle-point-red');
          this.b1.rendNode.setAttribute('class', 'stroke-dash');
          this.b2.rendNode.setAttribute('class', 'stroke-dash');
          this.b1P.rendNode.setAttribute('class', 'stroke-dash');
          this.b1P2.rendNode.setAttribute('class', 'stroke-dash');
          this.angle1.rendNode.setAttribute('class', 'angle-dash');
          this.angle2.rendNode.setAttribute('class', 'angle-dash');
          this.angle3.rendNode.setAttribute('class', 'angle-dash');
          this.angle4.rendNode.setAttribute('class', 'angle-dash');
          this.strLine.rendNode.setAttribute('class', 'stroke-dash hide-line-small');
          this.glider.label.rendNode.setAttribute('class', 'JXGtext let-l');
          this.pdpoint.rendNode.removeAttribute('class');
          this.b2g1.rendNode.removeAttribute('class')
        } else {
          this.bi2.rendNode.setAttribute('class', 'stroke-dash hide-line-small');
          this.h5.rendNode.setAttribute('class', 'hatch-hide hide-line-small');
          this.h6.rendNode.setAttribute('class', 'hatch-hide hide-line-small');
          this.h7.rendNode.setAttribute('class', 'hatch-hide hide-line-small');
          this.h8.rendNode.setAttribute('class', 'hatch-hide hide-line-small');
          this.strLine.rendNode.setAttribute('class', 'stroke-dash');
          this.pa1.rendNode.setAttribute('class', 'angle-point-red hide');
          this.pa2.rendNode.setAttribute('class', 'angle-point-red hide');
          this.angle3.rendNode.setAttribute('class', 'angle-dash hide-line-small');
          this.angle4.rendNode.setAttribute('class', 'angle-dash hide-line-small');
          this.b1.rendNode.setAttribute('class', 'stroke-dash hide-line-small');
          this.b2.rendNode.setAttribute('class', 'stroke-dash hide-line-small');
          if (!this.changed) {
            this.b1P.rendNode.setAttribute('class', 'stroke-dash hide-line-small');
            this.b1P2.rendNode.setAttribute('class', 'stroke-dash hide-line-small');
            this.angle1.rendNode.setAttribute('class', 'angle-dash hide-line-small');
            this.angle2.rendNode.setAttribute('class', 'angle-dash hide-line-small');
          }
          
          this.glider.label.rendNode.removeAttribute('class');
          this.p1.isDraggable = true;
          this.p2.isDraggable = true;
          this.p1.moveTo([this.nowX, this.nowY]);
          this.p2.moveTo([this.nowX2, this.nowY2]);
          this.p1.rendNode.setAttribute('class', 'drag');
          this.p2.rendNode.setAttribute('class', 'drag');
          this.pdpoint.rendNode.setAttribute('class', 'hide-elips');
          this.b2g1.rendNode.setAttribute('class', 'hide-elips');
        }   
      },
      initCircle() {
        // clear previous svg content
        document.getElementById("figure").innerHTML = '';
        this.activeClass = ""
        this.visible = false

        // disable reset button
        this.changed = false;

        // second text as default
        this.first = false;
        this.second = true;
        this.third = false;


        this.nowX = this.startX - 5
        this.nowY = this.startY
        this.nowX2 = this.startX
        this.nowY2 = this.startY

        // attributes
        const strokeColor = 'black';
        const hatchArttrs = { insertTicks: true, ticksDistance:.09, tickEndings:[.7, .7]};
        const lineArttrs = {name: '', fixed: true, strokeColor, StraightFirst: false, StraightLast: false};
        const bisectorArrts = {name: '', strokeColor, StraightFirst: false, StraightLast: true};
        const angleAttrs = {strokeColor, withLabel:false, fillOpacity:1, fillColor:'#fff', radius:0.15};
        const pointAttrs = (name,fixed) => ({name,fixed,strokeColor,fillColor:'black'});
        const pointAttrsCircle = {name: '',fixed: true,strokeColor,fillColor:'black', size: 4};
        const pointAttrsDrag = (name,fixed) => (
          {
            name,
            fixed,
            strokeColor: 'rgba(192, 192, 192, .7)',
            fillColor: 'black',
            face: 'circle',
            strokeWidth: 20,
            highlightStrokeOpacity: 1,
            highlightStrokeWidth: 1,
            size: 4,
          }
        );

        // circle geometry
        let brd = JXG.JSXGraph.initBoard('figure', {
          keepaspectratio: true,
          pan: {
            enabled: false,
          },
          boundingbox: [-6.5, 4, 6, -5.5],
          zoom: {
            enabled: false,
          },
          showZoom: false,
          showNavigation: false,
          zoomFactor: 1.30,
        });

        // point
        const pO = brd.create('point', [-4, -2], pointAttrs('O', true));
        const pY = brd.create('point', [0, -2], pointAttrs('Y', true));
        const pX = brd.create('point', [-1.5, 1], pointAttrs('X', true));
        const p2O = brd.create('point', [1, -2], pointAttrs('O', true));
        const p2Y = brd.create('point', [5, -2], pointAttrs('Y', true));
        const p2X = brd.create('point', [3.5, 1], pointAttrs('X', true));

        const aP1 = brd.create('point', [-3.5, -1.6], pointAttrsCircle);
        const aP2 = brd.create('point', [-3.35, -1.85], pointAttrsCircle);

        this.pa1 = brd.create('point', [1.55, -1.55], pointAttrsCircle);
        this.pa2 = brd.create('point', [1.7, -1.86], pointAttrsCircle);

        // line

        const oxL1 = brd.create('line', [pO, pX], lineArttrs);
        const oyL1 = brd.create('line', [pO, pY], lineArttrs);
        const oxL2 = brd.create('line', [p2O, p2X], lineArttrs);
        const oyL2 = brd.create('line', [p2O, p2Y], lineArttrs);

        // Bisector

        const bs1 = brd.create('bisector', [pY, pO, pX], bisectorArrts);
        const bs2 = brd.create('bisector', [p2Y, p2O, p2X], bisectorArrts);

        // glider

        const g11 = brd.create('glider', [0, -.1, bs1], pointAttrs('', true));
        const g12 = brd.create('glider', [10, 10, bs1], pointAttrs('', true));

        this.b2g1 = brd.create('glider', [2.4, 0, bs2], pointAttrs('', true));
        const b2g2 = brd.create('glider', [3.4, 1, bs2], pointAttrs('', true));

        const wLine = brd.create('line', [g11, g12], lineArttrs);

        this.glider = brd.create('glider', [5, -.1, bs2], pointAttrs('', true));
        const g22 = brd.create('glider', [10, 10, bs2], pointAttrs('', true));

        const wLine2 = brd.create('line', [this.glider, g22], lineArttrs);

        
        const runLine1 = brd.create('line', [pO, g11], lineArttrs);
        this.bi2 = brd.create('line', [p2O, this.glider], lineArttrs);
        this.p1 = brd.create('glider', [-1.6, 1, runLine1], pointAttrsDrag('P', false));
        this.pdpoint = brd.create('glider', [-2.55, 0, runLine1], pointAttrs('', false));
        this.p2 = brd.create('glider', [3.4, 1, this.bi2], pointAttrsDrag('P', false));

        const strG = brd.create('glider', [3.4, 1, this.bi2], {name: '',fixed: true,strokeColor,fillColor:'black', size: 0});
        const strO = brd.create('glider', [3.4, 1, this.bi2], {name: '',fixed: true,strokeColor,fillColor:'black', size: 0});

        this.strLine = brd.create('line', [strO, strG], lineArttrs);

        // perpendicular

        this.b1P = brd.create('perpendicularsegment', [oxL1, this.p1]);
        this.b1P2 = brd.create('perpendicularsegment', [oyL1, this.p1]);

        this.b1 = brd.create('perpendicularsegment', [oxL1, this.pdpoint]);
        this.b2 = brd.create('perpendicularsegment', [oyL1, this.pdpoint]);


        const P1G1 = brd.create('perpendicularsegment', [oxL2, this.b2g1]);
        const P2G1 = brd.create('perpendicularsegment', [oyL2, this.b2g1]);

        const P1G2 = brd.create('perpendicularsegment', [oxL2, b2g2]);
        const P2G2 = brd.create('perpendicularsegment', [oyL2, b2g2]);

        //angle

        this.angle1 = brd.create('angle', [oxL1, this.b1P, -1, 1], angleAttrs);
        this.angle2 = brd.create('angle', [this.b1P2, oyL1, 1, -1], angleAttrs);

        this.angle3 = brd.create('angle', [oxL1, this.b1, -1, 1], angleAttrs);
        this.angle4 = brd.create('angle', [this.b2, oyL1, 1, -1], angleAttrs);

        const angle3 = brd.create('angle', [oxL2, P1G1, -1, 1], angleAttrs);
        const angle4 = brd.create('angle', [P2G1, oyL2, 1, -1], angleAttrs);

        const angle5 = brd.create('angle', [oxL2, P1G2, -1, 1], angleAttrs);
        const angle6 = brd.create('angle', [P2G2, oyL2, 1, -1], angleAttrs);

        //hatch

        this.h1 = brd.create('hatch', [P1G1, 2], hatchArttrs);

        this.h2 = brd.create('hatch', [P2G1, 2], hatchArttrs);

        this.h3 = brd.create('hatch', [P1G2, 1], hatchArttrs);
        this.h4 = brd.create('hatch', [P2G2, 1], hatchArttrs);

        this.h5 = brd.create('hatch', [this.b1P, 1], hatchArttrs);
        this.h6 = brd.create('hatch', [this.b1P2, 1], hatchArttrs);

        this.h7 = brd.create('hatch', [this.b1, 2], hatchArttrs);
        this.h8 = brd.create('hatch', [this.b2, 2], hatchArttrs);

        // add class

        wLine.rendNode.setAttribute('class', 'hide-line');
        wLine2.rendNode.setAttribute('class', 'hide-line');
        this.bi2.rendNode.setAttribute('class', 'hide-line-small');

        bs2.rendNode.setAttribute('class', 'hide-line-small');
        pO.rendNode.setAttribute('class', 'hide-elips');
        p2O.rendNode.setAttribute('class', 'hide-elips');
        pX.rendNode.setAttribute('class', 'hide-elips');
        p2X.rendNode.setAttribute('class', 'hide-elips');
        pY.rendNode.setAttribute('class', 'hide-elips');
        p2Y.rendNode.setAttribute('class', 'hide-elips');
        g11.rendNode.setAttribute('class', 'hide-elips new-font');
        g11.label.rendNode.setAttribute('class', 'JXGtext let-l');
        g12.rendNode.setAttribute('class', 'hide-elips');
        this.glider.rendNode.setAttribute('class', 'hide-elips');
        this.glider.label.rendNode.setAttribute('class', 'JXGtext new-font');
        g22.rendNode.setAttribute('class', 'hide-elips');
        this.b2g1.rendNode.setAttribute('class', 'hide-elips');
        b2g2.rendNode.setAttribute('class', 'hide-elips');
        this.pdpoint.rendNode.setAttribute('class', 'hide-elips');

        this.b1P.rendNode.setAttribute('class', 'stroke-dash hide-line-small');
        this.b1P2.rendNode.setAttribute('class', 'stroke-dash hide-line-small');
        this.strLine.rendNode.setAttribute('class', 'stroke-dash');

        aP1.rendNode.setAttribute('class', 'angle-point');
        aP2.rendNode.setAttribute('class', 'angle-point');

        this.b1.rendNode.setAttribute('class', 'stroke-dash hide-line-small');
        this.b2.rendNode.setAttribute('class', 'stroke-dash hide-line-small');

        this.angle1.rendNode.setAttribute('class', 'angle-dash hide-line-small');
        this.angle2.rendNode.setAttribute('class', 'angle-dash hide-line-small');
        this.angle3.rendNode.setAttribute('class', 'angle-dash hide-line-small');
        this.angle4.rendNode.setAttribute('class', 'angle-dash hide-line-small');
        angle3.rendNode.setAttribute('class', 'angle');
        angle4.rendNode.setAttribute('class', 'angle');
        angle5.rendNode.setAttribute('class', 'angle');
        angle6.rendNode.setAttribute('class', 'angle');

        this.pa1.rendNode.setAttribute('class', 'angle-point-red hide');
        this.pa2.rendNode.setAttribute('class', 'angle-point-red hide');

        this.h1.rendNode.setAttribute('class', 'hatch-class');
        this.h2.rendNode.setAttribute('class', 'hatch-class');
        this.h3.rendNode.setAttribute('class', 'hatch-class');
        this.h4.rendNode.setAttribute('class', 'hatch-class');

        this.h5.rendNode.setAttribute('class', 'hide-line-small');
        this.h6.rendNode.setAttribute('class', 'hide-line-small');

        this.h7.rendNode.setAttribute('class', 'hide-line-small');
        this.h8.rendNode.setAttribute('class', 'hide-line-small');

        this.p1.rendNode.setAttribute('class', 'drag');
        this.p2.rendNode.setAttribute('class', 'drag');

        brd.update();

        // replace pointLabels
        pO.label.moveTo([-4.3, -2]);
        p2O.label.moveTo([0.7, -2]);
        this.p1.label.moveTo([-0.6, -.6]);
        this.p2.label.moveTo([4.4, -.6]);
        this.glider.label.moveTo([5.05, 0.1]);

        this.p1.on('drag', () => { // OPTIMIZE add debounce
          this.changed = true;

          const x = Math.round(this.p1.coords.usrCoords[1] * 100)/100;
          const y = Math.round(this.p1.coords.usrCoords[2] * 100)/100;

          this.nowX = x
          this.nowY = y

          if (y < -1.7) {
            this.b1P.rendNode.setAttribute('class', 'stroke-dash hide-line-small');
            this.b1P2.rendNode.setAttribute('class', 'stroke-dash hide-line-small');
            this.angle1.rendNode.setAttribute('class', 'angle-dash hide-line-small');
            this.angle2.rendNode.setAttribute('class', 'angle-dash hide-line-small');
            this.h5.rendNode.setAttribute('class', 'hide-line-small hatch-hide');
            this.h6.rendNode.setAttribute('class', 'hide-line-small hatch-hide');
          } else {
            this.b1P.rendNode.setAttribute('class', 'stroke-dash');
            this.b1P2.rendNode.setAttribute('class', 'stroke-dash');
            this.angle1.rendNode.setAttribute('class', 'angle-dash');
            this.angle2.rendNode.setAttribute('class', 'angle-dash');
            this.h5.rendNode.setAttribute('class', 'hide-line-small');
            this.h6.rendNode.setAttribute('class', 'hide-line-small');
          }
        })

        this.p2.on('drag', () => { // OPTIMIZE add debounce
          this.changed = true;

          const y2 = Math.round(strO.coords.usrCoords[2] * 100)/100;
          const y = Math.round(strG.coords.usrCoords[2] * 100)/100;

          const x1 = Math.round(this.p2.coords.usrCoords[1] * 100)/100;
          const y1 = Math.round(this.p2.coords.usrCoords[2] * 100)/100;

          this.nowX2 = x1
          this.nowY2 = y1

          if (y > y1) {
            strG.moveTo([x1, y1])
          }
          if (y2 < y1) {
            strO.moveTo([x1, y1])
          }
        })
      }
    },
  }
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/jsx/jsxgraph.css" scoped></style>

<style scoped>
#figure {
  margin-top:10px;
}
::v-deep .angle {
  stroke: black !important;
  stroke-width: 1.4px;
  fill: transparent !important;
}
::v-deep .angle-dash {
  stroke: black !important;
  fill: transparent !important;
  stroke-width: 1.4px;
  stroke-dasharray: 40;
  stroke-dashoffset: 70;
}
::v-deep .hide-elips {
  rx: 0;
}
::v-deep .hide-line {
  fill: #fff !important;
  stroke: #fff !important;
  stroke-width: 5px !important;
}
::v-deep .hide-line-small {
  fill: transparent !important;
  stroke: transparent !important;
}
::v-deep .hatch-class {
  stroke: #00b0f0;
  stroke-width: 2px;
}
::v-deep .hatch-class-red {
  stroke: #ec6c00;
  stroke-width: 2px;
}
::v-deep .red {
  stroke: red !important;
}
::v-deep .hatch-hide {
  stroke: white !important;
  stroke-width: 2px;
  stroke-dasharray: 15;
  stroke-dashoffset: -2;
}
::v-deep .stroke-dash {
  stroke-dasharray: 10;
}
::v-deep .hide-stroke {
  stroke: white  !important;
}
::v-deep .arr-class {
  font-size: 28px !important;
  color: red !important;
  font-weight: 900;
}
::v-deep .angle-point {
  stroke: #00b0f0 !important;
  fill: white;
  stroke-width: 2;
}
::v-deep .angle-point-red {
  stroke: #ec6c00;;
  fill: white;
  stroke-width: 2;
}
::v-deep .angle-point-red.hide {
  stroke: white !important;
}
.footer {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-end;
  align-items: flex-end;
}
.button,
.reset-btn {
  margin-bottom: 10px;
  margin-top: 0;
  min-width: 100px !important;
}
.footer {
  right: 0 !important;
}
.button {
  width: 150px;
  height: 60px;
}
</style>