<template>
    <div>
      <p class="header">
        <span></span>
      </p>
        <div class="figure-wrapper">
          <div id="figure"></div>
        </div>
        <div class="footer">
            <div class="button" v-on:click="initCircle()"></div>
        </div>
    </div>
</template>

<script>
  import * as JXG from '../assets/jsx/jsxgraphsrc.js'

  export default {
    name: "s2-04",
    data () {
      return {
        algelHide: false,
        rlock: false,
        llock: false,
        pointblock: {
          bool: false,
          x: null,
          y: null,
        }
      }
    },
    mounted() {
      this.initCircle();
    },
    methods: {
      updateWidth() {
        this.initCircle()
      },
      checkAndle(angle) {
        return (angle.Value() * (180 / Math.PI)).toFixed(0)
      },
      initCircle() {
        // clear previous svg content
        document.getElementById("figure").innerHTML = '';

        // attributes
        const strokeColor = 'black';
        const angleAttrs = {
          name: 'b',
          strokeColor,
          fillOpacity: 0,
          transitionDuration: 0,
          label: {
            color: "black",
            autoPosition: false,
            offset:[-20, -15]
          },
          fillColor:'#4995d3',
          orthoType:'sector'
        };
        const pointAttrs = (name,fixed, x, y) => ({name, fixed, strokeColor, fillColor:'black', label:{autoPosition: false, offset:[x, y]}});
        const pointAttrsDrag = (name,fixed, x, y) => (
          {
            name,
            fixed,
            strokeColor: 'rgba(192, 192, 192, 1)',
            fillColor: 'black',
            face: 'circle',
            strokeWidth: 20,
            transitionDuration: 0,
            highlightStrokeOpacity: 1,
            highlightStrokeWidth: 1,
            size: 4,
            label:{
              autoPosition: false,
              offset:[x, y]
            },
          }
        );
        const lineAttrs = {
          StraightFirst: false,
          StraightLast: false,
          strokeColor: 'white',
          fixed: true,
          transitionDuration: 0,
        };

        // circle geometry
        const brd = JXG.JSXGraph.initBoard('figure', {
          keepaspectratio: true,
          boundingbox: [-5.5, 5, 5, -5],
          pan: {
            enabled: false,
          },
          zoom: {
            enabled: false,
          },
          showZoom: false,
          showNavigation: false,
          zoomFactor: 1.35,
        });

        const pB = brd.create('point', [0,0], pointAttrs('', true, -5, -40));
        const pO = brd.create('point', [-3, -1.5], pointAttrs('', true, 0, 0));

        const circle = brd.create('circle',[pB, pO], {name: '', strokeColor: 'white', transitionDuration: 0});

        const pL = brd.create('glider', [-3, 1.5, circle], pointAttrs('', true, 0, 0));
        const pM = brd.create('glider', [-3, -1.5, circle], pointAttrs('', true, 0, 0));

        // line

        const line1 = brd.create('line',[pL,pB],{StraightFirst: false, transitionDuration: 0, StraightLast: true, strokeColor, fixed: true})
        const line2 = brd.create('line',[pM,pB],{StraightFirst: false, transitionDuration: 0, StraightLast: true, strokeColor, fixed: true})


        const gW1 = brd.create('glider', [3, -1.5, line1], pointAttrs('', true, 0, 0));
        const gW2 = brd.create('glider', [3, 1.5, line2], pointAttrs('', true, 0, 0));
        const gW112 = brd.create('point', [-0.001, -0.001], {
          name: '',
          fixed: true,
          strokeColor,
          fillColor:'black',
          anchor: gW1,
        });
        const gW113 = brd.create('glider', [-0.001, -0.001, circle], {
          name: '',
          fixed: true,
          strokeColor,
          fillColor:'black',
          anchor: gW1,
        });
        const gW114 = brd.create('glider', [-0.3, -0.3, circle], {
          name: '',
          fixed: true,
          strokeColor,
          fillColor:'black',
          anchor: gW1,
        });
        const gW115 = brd.create('glider', [-0.3, -0.3, circle], {
          name: '',
          fixed: true,
          strokeColor,
          fillColor:'black',
          anchor: pL,
        });
        const gW116 = brd.create('glider', [-0.3, -0.3, circle], {
          name: '',
          fixed: true,
          strokeColor,
          fillColor:'black',
          anchor: gW2,
        });
        const gW117 = brd.create('glider', [-0.3, -0.3, circle], {
          name: '',
          fixed: true,
          strokeColor,
          fillColor:'black',
          anchor: pM,
        });
        const circle1 = brd.create('circle',[gW1, gW114], {name: '', strokeColor: 'white', transitionDuration: 0});
        const circle2 = brd.create('circle',[pL, gW115], {name: '', strokeColor: 'white', transitionDuration: 0});
        const circle3 = brd.create('circle',[pM, gW117], {name: '', strokeColor: 'white', transitionDuration: 0});
        const circle4 = brd.create('circle',[gW2, gW116], {name: '', strokeColor: 'white', transitionDuration: 0});
        
        brd.create('line',[gW1,pL], lineAttrs)
        brd.create('line',[gW2,pM], lineAttrs)

        // angle

        const angle = brd.create('angle', [pM, pB, gW112], angleAttrs);
        const angle2 = brd.create('angle', [pM, pB, gW113], angleAttrs);
        angle2.setAttribute({visible: false});

        const ps1 = brd.create ('intersection', [circle, circle1, 0], pointAttrs('', true));
        const ps2 = brd.create ('otherintersection', [circle, circle1, ps1], pointAttrs('', true));

        const ps3 = brd.create ('intersection', [circle, circle2, 0], pointAttrs('', true));
        const ps4 = brd.create ('otherintersection', [circle, circle2, ps3], pointAttrs('', true));

        const ps5 = brd.create ('intersection', [circle, circle3, 0], pointAttrs('', true));
        const ps6 = brd.create ('otherintersection', [circle, circle3, ps5], pointAttrs('', true));

        const ps7 = brd.create ('intersection', [circle, circle4, 0], pointAttrs('', true));
        const ps8 = brd.create ('otherintersection', [circle, circle4, ps7], pointAttrs('', true));

        const arc1 = brd.create('arc', [pB, ps4, ps1]);
        arc1.setAttribute({transitionDuration: 0});

        //const arc12 = brd.create('arc', [pB, ps1, ps4]);

        const pM2 = brd.create('glider', [-3, -1.5, circle], pointAttrs('', true, -60, 0));

        const arc2 = brd.create('arc', [pB, ps8, ps5]);
        arc2.setAttribute({transitionDuration: 0});

        const pL2 = brd.create('glider', [-3, 1.5, circle], pointAttrsDrag('', false, -50, 0));

        // class
        pL2.rendNode.setAttribute('class', 'drag');
        pM2.rendNode.setAttribute('class', 'hide-elips');
        gW112.rendNode.setAttribute('class', 'hide-elips');
        gW113.rendNode.setAttribute('class', 'hide-elips');
        gW1.rendNode.setAttribute('class', 'hide-elips');
        gW2.rendNode.setAttribute('class', 'hide-elips');
        gW114.rendNode.setAttribute('class', 'hide-elips');
        gW115.rendNode.setAttribute('class', 'hide-elips');
        gW116.rendNode.setAttribute('class', 'hide-elips');
        gW117.rendNode.setAttribute('class', 'hide-elips');
        ps1.rendNode.setAttribute('class', 'hide-elips');
        ps2.rendNode.setAttribute('class', 'hide-elips');
        ps3.rendNode.setAttribute('class', 'hide-elips');
        ps4.rendNode.setAttribute('class', 'hide-elips');
        ps5.rendNode.setAttribute('class', 'hide-elips');
        ps6.rendNode.setAttribute('class', 'hide-elips');
        ps7.rendNode.setAttribute('class', 'hide-elips');
        ps8.rendNode.setAttribute('class', 'hide-elips');
        gW117.rendNode.setAttribute('class', 'hide-elips');
        pO.rendNode.setAttribute('class', 'hide-elips');
        circle.rendNode.setAttribute('class', 'hide-line');
        circle1.rendNode.setAttribute('class', 'hide-line');
        circle2.rendNode.setAttribute('class', 'hide-line');
        circle3.rendNode.setAttribute('class', 'hide-line');
        circle4.rendNode.setAttribute('class', 'hide-line');
        line1.rendNode.setAttribute('class', 'hide-line');
        line2.rendNode.setAttribute('class', 'hide-line');
        angle.rendNode.setAttribute('class', 'angle-class');
        angle.label.rendNode.setAttribute('class', 'let-b');
        angle2.rendNode.setAttribute('class', 'angle-class');
        pL2.label.rendNode.setAttribute('class', 'JXGtext let-l');
        pM2.label.rendNode.setAttribute('class', 'JXGtext let-m');
        arc1.rendNode.setAttribute('class', 'hide-arc');
        arc2.rendNode.setAttribute('class', 'hide-arc');
        pL.rendNode.setAttribute('class', 'hide-elips');
        pM.rendNode.setAttribute('class', 'hide-elips');

        pL2.on('drag', () => { // OPTIMIZE add debounce

          pL2.updateCoords()

          const x = Math.round(pL2.coords.usrCoords[1] * 100)/100;
          const y = Math.round(pL2.coords.usrCoords[2] * 100)/100;

          const xr = Math.round(ps8.coords.usrCoords[1] * 100)/100;
          const yr = Math.round(ps8.coords.usrCoords[2] * 100)/100;

          const xl = Math.round(ps5.coords.usrCoords[1] * 100)/100;
          const yl = Math.round(ps5.coords.usrCoords[2] * 100)/100;


          if ((x > 2 && y < yr) || (x <= 2 && y < yl)) {
            if (x > 2 && y <= yr && !this.llock) {
              this.rlock = true
            } else if (x < 2 && y <= yl && !this.rlock) {
              this.llock = true
            }
          } else {
            this.llock = false
            this.rlock = false
          }


          if (this.rlock) {
            pL2.moveTo([xr, yr]);
            pL.moveTo([xr, yr]);
          } else if (this.llock) {
            pL2.moveTo([xl, yl]);
            pL.moveTo([xl, yl]);
          } else {
            pL.moveTo([x, y]);
          }
         
        })

        // pM2.on('drag', () => { // OPTIMIZE add debounce

        //   pM2.updateCoords()

        //   const x = Math.round(pM2.coords.usrCoords[1] * 100)/100;
        //   const y = Math.round(pM2.coords.usrCoords[2] * 100)/100;

        //   if (pM2.Dist(ps4) < 0.01 || pM2.Dist(ps1) < 0.01) {

        //     pM2.isDraggable = false
        //     console.log(pM2.isDraggable)
        //     this.pointblock.bool = true
        //     this.pointblock.x = x
        //     this.pointblock.y = y
        //   } else {
        //     this.pointblock.bool = false
        //     pM2.isDraggable = true
        //   }

        //   if (this.pointblock.bool) {
        //     pM.moveTo([this.pointblock.x, this.pointblock.y]);
        //     console.log(this.pointblock.x)
        //     console.log(this.pointblock.y)
        //   } else {
        //     pM.moveTo([x, y]);
        //   }


        //   const xm = Math.round(pL.coords.usrCoords[1] * 100)/100;
        //   const ym = Math.round(pL.coords.usrCoords[2] * 100)/100;

        //   pL2.moveTo([xm, ym]);
         
        // })

      }
    },
  }
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/jsx/jsxgraph.css" scoped></style>

<style scoped>
#figure {
  margin-top: -30px; 
}
::v-deep .hide-line {
  stroke: #fff !important;
  fill: #fff !important;
}
::v-deep .hide-arc {
  stroke: transparent !important;
  fill: transparent !important;
}
.figure-wrapper {
  width: 900px;
  margin: 0 auto;
}
::v-deep .drag {
  stroke: rgba(192, 192, 192, .7) !important;
  fill: rgba(192, 192, 192, 0) !important;
  stroke-width: 20px;
  paint-order: stroke;
}
::v-deep .angle-class {
  stroke: black !important;
  fill: rgba(210, 236, 250, .5) !important;
  paint-order: stroke;
}
::v-deep .angle-class.hide-line {
  stroke: black !important;
  fill: rgba(73, 149, 211, .5) !important;
  opacity: 0 !important;
}
::v-deep .font-weight-class {
  font-size: 25px !important;
  font-weight: 400;
}
::v-deep .let-m {
  height: 38px;
  width: 38px;
  background-image: url(../assets/m.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/*@media screen and (max-width: 700px) {
  ::v-deep .let-m {
    height: 11px;
    width: 28px;
  }
}*/
</style>