<template>
  <div>
    <div class="figure-wrapper">
      <div id="figure"></div>
    </div>
    <div class="footer">
      <div class="button" v-on:click="initFigure()"></div>
    </div>
  </div>
</template>

<script>
  import * as JXG from '../assets/jsx/jsxgraphsrc.js'

  export default {
    name: "s3-19",
    props: {
      isChanged: Boolean,
      isShowCAngle: Boolean
    },
    data () {
      return {
        changed: this.isChanged,
        cAngle: this.isShowCAngle
      }
    },
    mounted() {
      this.initFigure();
    },
    methods: {
      updateWidth() {
        this.initFigure()
      },
      initFigure() {
        // clear previous svg content
        document.getElementById("figure").innerHTML = '';

        // disable reset button
        this.changed = false;

        // attributes
        const strokeColor = 'black';
        const commonAttrs = {name: '',strokeColor};
        const angleAttrs = {strokeColor,withLabel:false,fillOpacity:1,fillColor:'#7fd05e'};
        const pointAttrs = (name,fixed) => ({name,fixed,strokeColor,fillColor:'black', size:0});
        const pointAttrsDrag = (name,fixed) => (
          {
            name,
            fixed,
            strokeColor: 'rgba(192, 192, 192, .7)',
            fillColor: 'black',
            face: 'circle',
            strokeWidth: 20,
            highlightStrokeOpacity: 1,
            highlightStrokeWidth: 1,
            size: 4,
          }
        );

        // geometry
        const xlLimit = -2;
        const xrLimit = 2.5;
        const ylLimit = 1.5;
        const yrLimit = -.7;

        let brd = JXG.JSXGraph.initBoard('figure', {
          keepaspectratio: true,
          boundingbox: [-7.5, 3.5, 3, -6],
          pan: {
            enabled: false,
          },
          zoom: {
            enabled: false,
          },
          showZoom: false,
          showNavigation: false,
          zoomFactor: 1.35,
        });

        const pO = brd.create('point', [0,0], {name: "O", fixed: true, strokeColor, fillColor:'black'});
        const pA = brd.create('point', [0,-2.5], pointAttrs('A', true));
        const pB = brd.create('point', [2.45,0.5], pointAttrs('B', true));
        const pC = brd.create('point', [xlLimit,ylLimit], pointAttrs('C', true));
        const circle = brd.create('circle',[pO,pA],commonAttrs);
        const gP = brd.create('glider', [-1.6,-1,circle], pointAttrsDrag('P', false));

        brd.create('segment',[gP,pA],Object.assign({visible:true},commonAttrs));
        const linePAH = brd.create('line',[gP,pA],Object.assign({visible:false},commonAttrs));

        gP.rendNode.setAttribute('class', 'drag');
        const line = brd.create('line',[pA,gP], {straightFirst:true,straightLast:false,visible:false});
        const gL1 = brd.create('glider', [2.1,-2,line], pointAttrs('', true));
        gL1.rendNode.setAttribute('class', 'hide-elips');
        brd.create('segment',[gP,pB],commonAttrs);
        brd.create('segment',[pB,pC],commonAttrs);
        brd.create('segment',[pC,pA],commonAttrs);

        const arc = brd.create('arc', [pO,pA,pB], {visible:false});

        const higeG = brd.create('glider', [0,-2.5,arc], pointAttrs('', true));

        const circleH = brd.create('circle',[higeG,1.5],Object.assign({visible:false},commonAttrs));

        const pc0 = brd.create ('intersection', [circleH, linePAH, 0], pointAttrs('T', true))
        const pc1 = brd.create ('otherintersection', [circleH, linePAH, pc0], pointAttrs('T', true));
        pc1.setAttribute({visible:false});

        const flexibleLine = brd.create('segment',[gP,pc0],Object.assign({visible:true},commonAttrs));
        const flexibleLine2 = brd.create('segment',[gP,pc1],Object.assign({visible:false},commonAttrs));

        const pAngle1 = brd.create('angle', [pc0,gP,pB],angleAttrs);
        const pAngle2 = brd.create('angle', [pc1,gP,pB],angleAttrs);

        // displaying of C angle from views/s3-20 v-bind
        if (this.cAngle) {
          brd.create('angle', [pA,pC,pB],angleAttrs);
        }
        brd.update();

        // replace pointLabels
        pO.label.moveTo([0.2,0]);
        pA.label.moveTo([-0.1,-2.7]);
        pB.label.moveTo([2.6,0.55]);
        pC.label.moveTo([-2.3,1.7]);
        gP.label.moveTo([-2.4,-1.55]);
        gL1.label.moveTo([1.55,-3.30])

        gP.on('drag', () => { // OPTIMIZE add debounce
          this.changed = true;
          gP.fullUpdate()
          let x = Math.round(gP.coords.usrCoords[1] * 100)/100;
          let y = Math.round(gP.coords.usrCoords[2] * 100)/100;

          // limit moving in CB section of circle
          const leftLimit = x <= 0 && x > xlLimit && y > ylLimit;
          const rightLimit = x > 0 && x <= xrLimit && y > yrLimit;

          if (leftLimit) {
            gP.moveTo([xlLimit,ylLimit]);
          } else if (rightLimit) {
            gP.moveTo([xrLimit,yrLimit]);
          }

          gP.fullUpdate()
          x = Math.round(gP.coords.usrCoords[1] * 100)/100;
          y = Math.round(gP.coords.usrCoords[2] * 100)/100;

          //console.log(x)

          if (x < -0.1) {
            flexibleLine.setAttribute({visible:true});
            pc0.setAttribute({visible:true});
            pAngle1.setAttribute({visible:true});
            flexibleLine2.setAttribute({visible:false});
            pc1.setAttribute({visible:false});
            pAngle2.setAttribute({visible:false});
          } else if (x < 0 && x >= -.1) {
            flexibleLine.setAttribute({visible:true});
            pc0.setAttribute({visible:true});
            pAngle1.setAttribute({visible:true});
            flexibleLine2.setAttribute({visible:false});
            pc1.setAttribute({visible:false});
            pAngle2.setAttribute({visible:false});
          } else if (x == 0) {
            pc0.update()
            let px = pc0.coords.usrCoords[1]
            if (px < 0) {
              flexibleLine.setAttribute({visible:false});
              pc0.setAttribute({visible:false});
              pAngle1.setAttribute({visible:false});
              flexibleLine2.setAttribute({visible:true});
              pc1.setAttribute({visible:true});
              pAngle2.setAttribute({visible:true});
            } else {
              flexibleLine.setAttribute({visible:true});
              pc0.setAttribute({visible:true});
              pAngle1.setAttribute({visible:true});
              flexibleLine2.setAttribute({visible:false});
              pc1.setAttribute({visible:false});
              pAngle2.setAttribute({visible:false});
            }
          } else {
            flexibleLine.setAttribute({visible:false});
            pc0.setAttribute({visible:false});
            pAngle1.setAttribute({visible:false});
            flexibleLine2.setAttribute({visible:true});
            pc1.setAttribute({visible:true});
            pAngle2.setAttribute({visible:true});
          }

          
          pc0.update()
          pc1.update()

          if (pc0.coords.usrCoords[1] < 0) {
            flexibleLine.setAttribute({visible:false});
            pc0.setAttribute({visible:false});
            pAngle1.setAttribute({visible:false});
            flexibleLine2.setAttribute({visible:true});
            pc1.setAttribute({visible:true});
            pAngle2.setAttribute({visible:true});
          }

          if (pc1.coords.usrCoords[1] < 0) {
            flexibleLine.setAttribute({visible:true});
            pc0.setAttribute({visible:true});
            pAngle1.setAttribute({visible:true});
            flexibleLine2.setAttribute({visible:false});
            pc1.setAttribute({visible:false});
            pAngle2.setAttribute({visible:false});
          }

          // replace P label according to left/right side
          if (x > 0) {
            gP.label.moveTo(rightLimit ? [xrLimit+0.3, yrLimit-0.3] : [x+0.3, y-0.3]);
          } else {
            gP.label.moveTo(leftLimit ? [xlLimit-0.3, ylLimit-0.3] : [x-0.3, y-0.3]);
          }

          if (x > -0.1 && x < 0.1 && y < 0) {
            gP.setLabel('')
            pA.setLabel('P(A) 接線')
          } else {
            gP.setLabel('P')
            pA.setLabel('A')
          }

          higeG.moveTo([x,y]);

          // switch line side visibility
          line.setAttribute({straightFirst: x < 0, straightLast: x >= 0});
        })
      }
    }
  }
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/jsx/jsxgraph.css" scoped></style>

<style scoped>
::v-deep path {
    stroke: black;
    fill: #ccdf80;
    stroke-width: 2px;
}
</style>