<template>
  <div class="figure-wrapper-container">
    <div class="figure-wrapper">
      <div id="figure"></div>
    </div>
    <div class="footer">
      <div class="button" v-on:click="initCircle()"></div>
    </div>
  </div>
</template>

<script>
  import * as JXG from '../assets/jsx/jsxgraphsrc.js'

  export default {
    name: "s3-12",
    props: {
      isVisibleFirst: Boolean,
      isVisibleSecond: Boolean,
      isVisibleThird: Boolean,
      isChanged: Boolean
    },
    data () {
      return {
        first: this.isVisibleFirst,
        second: this.isVisibleSecond,
        third: this.isVisibleThird,
        changed: this.isChanged,
        lowText: "<div class='text-low'></div>",
        topText: "<div class='text-top'></div>",
        scale: null,
      }
    },
    mounted() {
      this.initCircle();
    },
    methods: {
      updateWidth() {
        this.initCircle()
      },
      initCircle() {
        // clear previous svg content

        document.getElementById("figure").innerHTML = '';

        // disable reset button
        this.changed = false;

        // second text as default
        this.first = false;
        this.second = true;
        this.third = false;

        // attributes
        const strokeColor = 'black';
        const commonAttrs = {name: '',strokeColor};
        const angleAttrs = {strokeColor,withLabel:false,fillOpacity:1,fillColor:'#7fd05e'};
        const angleAttrsBack = {strokeColor,withLabel:false,fillOpacity:1,fillColor:'#fff',radius:0.56};
        const pointAttrs = (name,fixed) => ({name,fixed,strokeColor,fillColor:'black'});
        const pointAttrsDrag = (name,fixed) => (
          {
            name,
            fixed,
            strokeColor: 'rgba(192, 192, 192, .7)',
            fillColor: 'black',
            face: 'circle',
            strokeWidth: 20,
            highlightStrokeOpacity: 1,
            highlightStrokeWidth: 1,
            size: 4,
          }
        );

        // circle geometry
        let brd = JXG.JSXGraph.initBoard('figure', {
          keepaspectratio: true,
          boundingbox: [-6.5, 5, 4, -4],
          pan: {
            enabled: false,
          },
          zoom: {
            enabled: false,
          },
          showZoom: false,
          showNavigation: false,
          zoomFactor: 1.35,
        });
        console.log(brd)

        const pO = brd.create('point', [0,0], pointAttrs('O', true));
        const pA = brd.create('point', [-1.5,-2], pointAttrs('A', true));
        const pB = brd.create('point', [1.5,-2], pointAttrs('B', true));
        const circle = brd.create('circle',[pO,pA],commonAttrs);
        const gP = brd.create('glider', [-0.6,2.4,circle], pointAttrsDrag('P', false));
        gP.rendNode.setAttribute('class', 'drag')
        brd.create('text',[-0.15, -1.3, this.lowText], {fixed: true, fillColor:'black'})
        brd.create('text',[2.6, .7, this.topText], {fixed: true, fillColor:'black'})
        brd.create('segment',[pO,pB],commonAttrs);
        brd.create('segment',[pB,gP],commonAttrs);
        brd.create('segment',[gP,pA],commonAttrs);
        brd.create('segment',[pA,pO],commonAttrs);
        const pAngle = brd.create('angle', [pA,gP,pB],angleAttrs);
        const oAngleBack = brd.create('angle', [pA,pO,pB],angleAttrsBack);
        oAngleBack.rendNode.setAttribute('class', 'back-angle');
        const angle2 = brd.create('angle', [pA,pO,pB],angleAttrs);

        const arc = brd.create('arc', [pO, pA, pB]);

        let p = [];
        p.push(brd.create('point', [-0.49,1.93], {name: '', fixed: true, strokeColor,fillColor:'black', size: 0}));
        p.push(brd.create('point',[0, 1], {name: '', fixed: true, strokeColor,fillColor:'black', size: 0}));
        p.push(brd.create('point',[1.5, .5 ], {name: '', fixed: true, strokeColor,fillColor:'black', size: 0}));
        p.push(brd.create('point', [2.6, .7], {name: '', fixed: true, strokeColor,fillColor:'black', size: 0}));

        const c = brd.create('curve', JXG.Math.Numerics.bezier(p),
          {strokeColor:'red', name:"curve", strokeWidth:5, fixed: true});
        c.addParents(p);

        c.rendNode.setAttribute('class', 'curve');
        arc.rendNode.setAttribute('class', 'arc-class');

        angle2.rendNode.setAttribute('class', 'angle');
        pAngle.rendNode.setAttribute('class', 'angle1');

        brd.update();

        // replace pointLabels
        pO.label.moveTo([-.1,0.2]);
        pA.label.moveTo([-1.75,-2.15]);
        pB.label.moveTo([1.6,-2.15]);
        gP.label.moveTo([-0.8,2.7]);


        gP.on('drag', () => { // OPTIMIZE add debounce
          this.changed = true;

          const x = Math.round(gP.coords.usrCoords[1] * 100)/100;
          const y = Math.round(gP.coords.usrCoords[2] * 100)/100;

          const x1 = Math.round(pAngle.points[5].usrCoords[1] * 100)/100;
          const y1 = Math.round(pAngle.points[5].usrCoords[2] * 100)/100;

          if (y < -1.65) {
            gP.moveTo([x > 0 ? 1.9 : -1.9,-1.65]);
          }

          p[0].moveTo([x1, y1])

        })
      }
    },
  }
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/jsx/jsxgraph.css" scoped></style>

<style scoped>
#figure {
  margin-top: -30px;
}
::v-deep .arc-class {
  stroke: black;
  fill: transparent;
  stroke-width: 4px;
}
::v-deep .back-angle {
  stroke-width: 2px;
}
::v-deep .angle1 {
  stroke: black;
  fill: #9DC93A;
  stroke-width: 2px;
}
::v-deep .back-angle {
  stroke: black !important;
  fill: #e3eb98 !important;
  stroke-width: 2px;
}
::v-deep .angle {
  stroke: black !important;
  fill: #E3EB98 !important;
  stroke-width: 2px;
}
::v-deep .curve {
  stroke: #b7b3b3;
  fill: transparent;
  stroke-width: 2px;
}
.figure-wrapper-container {
  min-height: 100%;
}
::v-deep  .text-top{
  width: 40px;
  height: 90px;
  background-image: url(../assets/s3-12-t.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
::v-deep  .text-low{
  width: 40px;
  height: 90px;
  background-image: url(../assets/s3-12-d.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/*@media screen and (max-width: 700px) {
  ::v-deep  .text-top{
    height:60px;
  }
  ::v-deep  .text-low{
    height:60px;
  }
}
@media screen and (max-height: 600px) {
  ::v-deep  .text-top{
    height:50px;
  }
  ::v-deep  .text-low{
    height:50px;
    width: 20px;
    margin-top: 10px;
    margin-right: 20px;
  }
}*/
</style>