<template>
  <div class="figure-wrapper-container">
    <div class="header">
      <span class="container-top">
        <span class="headicon"></span>
        <span v-show="less" class="less center-icon"></span>
        <span v-show="equal" class="equal center-icon"></span>
        <span v-show="greater" class="greater center-icon"></span>
        <span class="headicon mod"></span>
      </span>
    </div>
    <div class="figure-wrapper">
      <div id="figure"></div>
    </div>
    <div class="footer">
      <div :class="'button mod2 ' + activeClass" v-on:click="toggleVisibility()"></div>
      <div class="button" v-on:click="initFigure()"></div>
    </div>
  </div>
</template>

<script>
  import * as JXG from '../assets/jsx/jsxgraphsrc.js'

  export default {
    name: "s3-17",
    props: {
      isVisibleLess: Boolean,
      isVisibleEqual: Boolean,
      isVisibleGreater: Boolean,
      isVisibleCircle: Boolean,
      isChanged: Boolean,
      circleFigure: Object
    },
    data () {
      return {
        less: this.isVisibleLess,
        equal: this.isVisibleEqual,
        greater: this.isVisibleGreater,
        visible: this.isVisibleCircle,
        changed: this.isChanged,
        circle: this.circleFigure,
        activeClass: "",
      }
    },
    mounted() {
      this.initFigure();
    },
    methods: {
      updateWidth() {
        this.initFigure()
      },
      toggleVisibility() {
        if (this.activeClass == "") {
          this.activeClass = "active"
        } else {
          this.activeClass = ""
        }
        this.visible = !this.visible;
        this.circle.setAttribute({visible:this.visible});
      },
      initFigure() {
        // clear previous svg content
        document.getElementById("figure").innerHTML = '';
        this.activeClass = ""

        // disable reset button
        this.changed = false;

        // circle is hidden by default
        this.visible = false;

        // equal is default
        this.less = false;
        this.equal = true;
        this.greater = false;

        // attributes
        const strokeColor = 'black';
        const commonAttrs = {name: '',strokeColor};
        const hidden = {visible:false};
        const unnamed = {withLabel:false};
        const pointAttrs = (name,fixed) => ({name,fixed,strokeColor,fillColor:'black'});
        const pointAttrsDrag = (name,fixed) => (
          {
            name,
            fixed,
            strokeColor: 'rgba(192, 192, 192, .7)',
            fillColor: 'black',
            face: 'circle',
            strokeWidth: 20,
            highlightStrokeOpacity: 1,
            highlightStrokeWidth: 1,
            size: 4,
          }
        );

        // geometry
        let brd = JXG.JSXGraph.initBoard('figure', {
          keepaspectratio: true,
          boundingbox: [-6.7, 5, 4, -4],
          pan: {
            enabled: false,
          },
          zoom: {
            enabled: false,
          },
          showZoom: false,
          showNavigation: false,
          zoomFactor: 1.35,
        });

        const pO = brd.create('point', [0,0], hidden);
        const pA = brd.create('point', [-1.9,-1.5], pointAttrs('A', true));
        const pB = brd.create('point', [1.9,-1.5], pointAttrs('B', true));
        const pP = brd.create('point', [-1.8,1.6], pointAttrs('P', true));
        const pQ = brd.create('point', [1.5,1.9], pointAttrsDrag('Q', false));
        pQ.rendNode.setAttribute('class', 'drag');
        const lineStart = brd.create('point', [-3,-1.5], hidden);
        const lineEnd = brd.create('point', [3,-1.5], hidden);
        brd.create('segment',[lineStart,lineEnd],{fixed:true});
        brd.create('segment',[pA,pP],commonAttrs);
        brd.create('segment',[pA,pQ],commonAttrs);
        brd.create('segment',[pP,pB],commonAttrs);
        brd.create('segment',[pQ,pB],commonAttrs);
        const angleAPB = brd.create('angle', [pA,pP,pB],unnamed);
        const angleAQB = brd.create('nonreflexangle', [pA,pQ,pB],unnamed);
        const angleBQA = brd.create('angle', [pB,pQ,pA],Object.assign({}, unnamed, hidden));
        this.circle = brd.create('circle',[pO,pA], { visible: this.visible });
        this.circle.rendNode.setAttribute('class', 'red stroke-circle');
        brd.update();

        // replace pointLabels
        pA.label.moveTo([-2.1,-1.7]);
        pB.label.moveTo([1.95,-1.7]);
        pP.label.moveTo([-2,1.8]);
        pQ.label.moveTo([1.7,2]);

        pQ.on('drag', () => { // OPTIMIZE add debounce
          this.changed = true;
          const y = Math.round(pQ.coords.usrCoords[2] * 100)/100;
          const x = Math.round(pQ.coords.usrCoords[1] * 100)/100;
          const above = y > -1.5;
          const below = y < -1.5;
          const parse = value => parseInt((value * 180 / Math.PI).toFixed(0));

          const valueAPB = parse(angleAPB.Value());
          const valueAQB = parse(angleAQB.Value());
          const valueBQA = parse(angleBQA.Value());

          if (above) {
            this.less = valueAPB < valueAQB;
            this.equal = valueAPB === valueAQB;
            this.greater = valueAPB > valueAQB;
          } else if (below) {
            this.less = valueAPB < valueBQA;
            this.equal = valueAPB === valueBQA;
            this.greater = valueAPB > valueBQA;
          }

          if (y < -1.47) {
            pQ.moveTo([x,-1.47]);
          }

          // switch angles
          angleAQB.setAttribute({visible:above});
          angleBQA.setAttribute({visible:below});
        })
      }
    }
  }
</script>

<style src="../assets/jsx/jsxgraph.css" scoped></style>
<style src="../assets/styles/common.css" scoped></style>

<style scoped>
.header {
  padding: 0;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-size: 80px;
}
.center-icon {
  margin: 0 7px;
  width: 38px;
  height: 32px;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.less {
  background-image: url(../assets/greater.svg);
}
.equal {
  background-image: url(../assets/equal.svg);
}
.greater {
  background-image: url(../assets/less.svg);
}
.container-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
#figure {
  margin-top: -155px;
}
::v-deep path {
  stroke: #008bd5;
  fill: rgba(210, 236, 250, 1);
}
::v-deep .stroke-circle {
  stroke-width: 3px;
}
.footer {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-end;
  align-items: flex-end;
}
.button,
.reset-btn {
  margin-bottom: 10px;
  margin-top: 0;
  min-width: 100px !important;
}
.toggle {
  background-color: #333f50!important;
}
.headicon {
  width: 180px;
  height: 80px;
  display: block;
  background-image: url(../assets/apb.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 10px;
  background-position: bottom;
  margin-bottom: 24px;
}
.headicon.mod {
  background-image: url(../assets/aqb.svg);
  margin-bottom: 0px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .header span{
      margin-top: 16px;
   }
   .headicon {
      margin-top: 0px !important;
   }
}
</style>