<template>
  <div>
    <div class="figure-wrapper">
      <div id="figure"></div>
    </div>
    <div class="footer">
      <div :class="'button mod3 ' + activeClass" v-on:click="toggleVisibility()"></div>
      <div class="button" v-on:click="initFigure()"></div>
    </div>
  </div>
</template>

<script>
  import * as JXG from '../assets/jsx/jsxgraphsrc.js'

  export default {
    name: "s3-18",
    props: {
      isChanged: Boolean,
      isVisible: Boolean,
      circleFigure: Object
    },
    data () {
      return {
        changed: this.isChanged,
        visible: this.isVisible,
        circle: this.circleFigure,
        activeClass: "",
      }
    },
    mounted() {
      this.initFigure();
    },
    methods: {
      updateWidth() {
        this.initFigure()
      },
      toggleVisibility() {
        if (this.activeClass == "") {
          this.activeClass = "active"
        } else {
          this.activeClass = ""
        }
        this.visible = !this.visible;
        this.circle.setAttribute({visible:this.visible});
      },
      initFigure() {
        // clear previous svg content
        document.getElementById("figure").innerHTML = '';
        this.activeClass = ""

        // disable reset button
        this.changed = false;

        // circle is hidden by default
        this.visible = false;

        // attributes
        const strokeColor = 'black';
        const commonAttrs = {name: '',strokeColor};
        const pointAttrs = (name,fixed, int) => ({name,fixed,strokeColor,fillColor:'black', size: int});
        const pointAttrsDrag = (name,fixed) => (
          {
            name,
            fixed,
            strokeColor: 'rgba(192, 192, 192, .7)',
            fillColor: 'black',
            face: 'circle',
            strokeWidth: 20,
            highlightStrokeOpacity: 1,
            highlightStrokeWidth: 1,
            size: 4,
            label: {
              autoPosition: true,
              offset:[10, 30]
            }
          }
        );

        // circle geometry
        let brd = JXG.JSXGraph.initBoard('figure', {
          keepaspectratio: true,
          boundingbox: [-6, 4,5, -4],
          pan: {
            enabled: false,
          },
          zoom: {
            enabled: false,
          },
          showZoom: false,
          showNavigation: false,
          zoomFactor: 1.35,
        });
        const pA = brd.create('point', [-2.5,0], pointAttrs('A', true, 0));
        const pB = brd.create('point', [2.5,0], pointAttrs('B', true, 0 ));
        const middle = brd.create('midpoint', [pA, pB],{visible:false});
        this.circle = brd.create('circle',[middle,pB], { visible: this.visible });
        this.circle.rendNode.setAttribute('class', 'red stroke-circle');
        const gP = brd.create('glider', [1,2.3,this.circle], pointAttrsDrag('P', false));
        gP.rendNode.setAttribute('class', 'drag');
        brd.create('segment',[pA,pB],commonAttrs);
        brd.create('segment',[pB,gP],{strokeColor, dash:2});
        brd.create('segment',[gP,pA],{strokeColor, dash:2});
        const angle = brd.create('nonreflexangle', [pA,gP,pB],{withLabel:false, radius:0.35});

        const ap1 = brd.create('point', [angle.points[1].usrCoords[1], angle.points[1].usrCoords[2] ], pointAttrs('', true, 0));
        const ap2 = brd.create('point', [angle.points[2].usrCoords[1], angle.points[2].usrCoords[2] ], pointAttrs('', true, 0));
        const ap3 = brd.create('point', [angle.points[3].usrCoords[1], angle.points[3].usrCoords[2] ], pointAttrs('', true, 0));

        const angLine = brd.create('segment',[ap1,ap2],{strokeColor});
        const angLine2 = brd.create('segment',[ap2,ap3],{strokeColor});

        angle.rendNode.setAttribute('class', 'angle');


        brd.update();

        // replace pointLabels
        pA.label.moveTo([-2.8,0]);
        pB.label.moveTo([2.6,0]);
        //gP.label.moveTo([1.1,2.55]);

        gP.on('drag', () => { // OPTIMIZE add debounce
          this.changed = true;

          const y = Math.round(gP.coords.usrCoords[2] * 100)/100;

          angle.fullUpdate()
          if (y > -.35 && y < .35) {
            angLine.setAttribute({visible:false});
            angLine2.setAttribute({visible:false});
          } else {
            angLine.setAttribute({visible:true});
            angLine2.setAttribute({visible:true});
          }
          ap1.moveTo([angle.points[1].usrCoords[1], angle.points[1].usrCoords[2]])
          ap2.moveTo([angle.points[2].usrCoords[1], angle.points[2].usrCoords[2]])
          ap3.moveTo([angle.points[3].usrCoords[1], angle.points[3].usrCoords[2]])
          brd.update();
        })
      }
    }
  }
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/jsx/jsxgraph.css" scoped></style>

<style scoped>
::v-deep .angle {
  stroke: transparent;
  fill: transparent;
  stroke-width: 1.4px;
}
.footer {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-end;
  align-items: flex-end;
  right: 120px !important;
}
::v-deep .stroke-circle {
  stroke-width: 3px;
}
.button,
.reset-btn {
  margin-bottom: 10px;
  margin-top: 0;
  min-width: 100px !important;
}
.toggle {
  background-color: #333f50!important;
}

</style>