<template>
  <div>
    <p class="header">
      <img v-show="first" src="../assets/s3-13-1.svg" alt="">
      <img v-show="second" src="../assets/s3-13-2.svg" alt="">
      <img v-show="third" src="../assets/s3-13-3.svg" alt="">
    </p>
    <div class="figure-wrapper">
      <div id="figure"></div>
    </div>
    <div class="footer">
      <div class="button" v-on:click="initFigure()"></div>
    </div>
  </div>
</template>

<script>
  import * as JXG from '../assets/jsx/jsxgraphsrc.js'

  export default {
    name: "s3-13",
    props: {
      isVisibleFirst: Boolean,
      isVisibleSecond: Boolean,
      isVisibleThird: Boolean,
      isChanged: Boolean
    },
    data () {
      return {
        first: this.isVisibleFirst,
        second: this.isVisibleSecond,
        third: this.isVisibleThird,
        changed: this.isChanged
      }
    },
    mounted() {
      this.initFigure();
    },
    methods: {
      updateWidth() {
        this.initFigure()
      },
      initFigure() {
        // clear previous svg content
        document.getElementById("figure").innerHTML = '';

        // disable reset button
        this.changed = false;

        // second text as default
        this.first = false;
        this.second = true;
        this.third = false;

        // attributes
        const strokeColor = 'black';
        const commonAttrs = {name: '',strokeColor};
        const angleAttrs = {strokeColor,withLabel:false,fillOpacity:1,fillColor:'#7fd05e'};
        const angleAttrsBack = {strokeColor,withLabel:false,fillOpacity:1,fillColor:'#fff',radius:0.56};
        const pointAttrs = (name,fixed) => ({name,fixed,strokeColor,fillColor:'black'});
        const pointAttrsDrag = (name,fixed) => (
          {
            name,
            fixed,
            strokeColor: 'rgba(192, 192, 192, .7)',
            fillColor: 'black',
            face: 'circle',
            strokeWidth: 20,
            highlightStrokeOpacity: 1,
            highlightStrokeWidth: 1,
            size: 4,
          }
        );

        // geometry
        let brd = JXG.JSXGraph.initBoard('figure', {
          keepaspectratio: true,
          boundingbox: [-7, 5, 4, -4],
          pan: {
            enabled: false,
          },
          zoom: {
            enabled: false,
          },
          showZoom: false,
          showNavigation: false,
          zoomFactor: 1.35,
        });
        const pO = brd.create('point', [0,0], pointAttrs('O', true));
        const pA = brd.create('point', [-1.5,-2], pointAttrs('A', true));
        const pB = brd.create('point', [1.5,-2], pointAttrs('B', true));
        const circle = brd.create('circle',[pO,pA],commonAttrs);
        const gP = brd.create('glider', [-0.6,2.4,circle], pointAttrsDrag('P', false));
        gP.rendNode.setAttribute('class', 'drag')
        brd.create('segment',[pO,pB],commonAttrs);
        brd.create('segment',[pB,gP],commonAttrs);
        brd.create('segment',[gP,pA],commonAttrs);
        brd.create('segment',[pA,pO],commonAttrs);
        const pAngle = brd.create('angle', [pA,gP,pB],angleAttrs);
        const oAngleBack = brd.create('angle', [pA,pO,pB],angleAttrsBack);
        oAngleBack.rendNode.setAttribute('class', 'back-angle');
        const angle2 = brd.create('angle', [pA,pO,pB],angleAttrs);

        angle2.rendNode.setAttribute('class', 'angle');
        pAngle.rendNode.setAttribute('class', 'angle1');
        brd.update();

        // replace pointLabels
        pO.label.moveTo([-.1,0.2]);
        pA.label.moveTo([-1.75,-2.15]);
        pB.label.moveTo([1.6,-2.15]);
        gP.label.moveTo([-0.8,2.7]);

        gP.on('drag', () => { // OPTIMIZE add debounce
          this.changed = true;
          const x = Math.round(gP.coords.usrCoords[1] * 100)/100;
          const y = Math.round(gP.coords.usrCoords[2] * 100)/100;

          const first = x < -1.55 && y < 2 && y > -2;
          const second = x > -1.45 && x < 1.45 && y > 2;
          const third = x > 1.55 && y < 2 && y > -2;

          if (first) {
            this.first = false;
            this.second = false;
            this.third = true;
          } else if (second) {
            this.first = false;
            this.second = true;
            this.third = false;
          } else if (third) {
            this.first = false;
            this.second = false;
            this.third = true;
          } else if (y >= 1.5) {
            if ((x <= -1.45 && x >= -1.55) || (x >= 1.45 && x <= 1.55)) {
              this.first = true;
              this.second = false;
              this.third = false;
            }
          }

          if (y < -1.65) {
            gP.moveTo([x > 0 ? 1.9 : -1.9,-1.65]);
          }
        })
      }
    }
  }
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/jsx/jsxgraph.css" scoped></style>

<style scoped>
#figure {
  margin-top: 0px;
}
::v-deep .angle1 {
  stroke: black;
  fill: #9dc93a;
  stroke-width: 2px;
}
::v-deep .angle {
  stroke: black;
  fill: #e3eb98;
  stroke-width: 2px;
}
::v-deep .back-angle {
  stroke: black !important;
  fill: #e3eb98 !important;
  stroke-width: 2px;
}
.figure-wrapper {
  margin-top: -93px;
}
.header {
  padding-right: 0;
}
</style>