<template>
  <div>
    <div class="figure-wrapper">
      <div id="figure"></div>
    </div>
    <div class="footer">
      <div class="button" v-on:click="initFigure()"></div>
    </div>
  </div>
</template>

<script>
  import * as JXG from '../assets/jsx/jsxgraphsrc.js'

  export default {
    name: "s3-15",
    props: {
      isChanged: Boolean
    },
    data () {
      return {
        changed: this.isChanged
      }
    },
    mounted() {
      this.initFigure();
    },
    methods: {
      updateWidth() {
        this.initFigure()
      },
      initFigure() {
        // clear previous svg content
        document.getElementById("figure").innerHTML = '';

        // disable reset button
        this.changed = false;

        // attributes
        const strokeColor = 'black';
        const commonAttrs = {name: '',strokeColor};
        const pointAttrs = (name,fixed) => ({name,fixed,strokeColor,fillColor:'black'});
        const pointAttrsDrag = (name,fixed) => (
          {
            name,
            fixed,
            strokeColor: 'rgba(192, 192, 192, .7)',
            fillColor: 'black',
            face: 'circle',
            strokeWidth: 20,
            highlightStrokeOpacity: 1,
            highlightStrokeWidth: 1,
            size: 4,
          }
        );

        // circle geometry
        let brd = JXG.JSXGraph.initBoard('figure', {
          keepaspectratio: true,
          boundingbox: [-6, 4, 4, -4], 
          pan: {
            enabled: false,
          },
          zoom: {
            enabled: false,
          },
          showZoom: false,
          showNavigation: false,
          zoomFactor: 1.35,
          takeFirst: false,
        });

        console.log(brd)

        const p1 = brd.create('point', [-2.5,0], pointAttrs('', true));
        const p2 = brd.create('point', [2.5,0], pointAttrs('', true));
        const middle = brd.create('midpoint', [p1, p2],{visible:true, name: ''});
        const circle = brd.create('circle',[middle,p2],commonAttrs);
        const g3 = brd.create('glider', [1.2,2.3,circle], pointAttrsDrag('', false));
        g3.rendNode.setAttribute('class', 'drag');
        brd.create('segment',[p1,p2],commonAttrs);
        brd.create('segment',[p2,g3],commonAttrs);
        brd.create('segment',[g3,p1],commonAttrs);
        const arc = brd.create('arc', [middle, p1, p2]);
        const angle = brd.create('angle', [p1,g3,p2],{withLabel:false, radius:0.35});

        angle.rendNode.setAttribute('class', 'angle');
        p1.rendNode.setAttribute('class', 'hide-elips');
        p2.rendNode.setAttribute('class', 'hide-elips');
        arc.rendNode.setAttribute('class', 'arc-class');

        brd.update();

        g3.on('drag', () => { // OPTIMIZE add debounce
          this.changed = true;
          const x = Math.round(g3.coords.usrCoords[1] * 100)/100;
          const y = Math.round(g3.coords.usrCoords[2] * 100)/100;

          const right = x <= 0 && y <= 0;
          const left = x > 0 && y <= 0;

          console.log(brd)


          // limit moving in bottom side of circle
          if (right) {
            g3.moveTo([-2.5,0]);
          } else if (left) {
            g3.moveTo([2.5,0]);
          }

          // toggle angle
          angle.setAttribute({visible:y > 0});
        })
      }
    }
  }
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/jsx/jsxgraph.css" scoped></style>

<style scoped>
::v-deep .angle {
  stroke: #F4803C;
  fill: #fff;
  stroke-width: 1.4px;
}
::v-deep .arc-class {
  stroke: black;
  fill: transparent;
  stroke-width: 4px;
}
#figure {
  max-height: 80vh;
}
.footer {
  right: 120px !important
}
</style>