<template>
  <div>
    <div class="figure-wrapper">
      <div class="ancle-container">
        <div class="top-ancle">
          <span class="span-first">∠APB = </span>
          <span class="border-deg">{{ APB }}</span>
          <span>°</span>
        </div>
        <div class="bottom-ancle">
          <span class="span-first">∠AOB = </span>
          <span class="border-deg">{{ AOP }}</span>
          <span>°</span>
        </div>
      </div>
      <div id="figure"></div>
    </div>
    <div class="footer">
      <div class="button" v-on:click="initCircle()"></div>
    </div>
  </div>
</template>

<script>
  import * as JXG from '../assets/jsx/jsxgraphsrc.js'

  export default {
    name: "s3-14",
    props: {
      isVisibleFirst: Boolean,
      isVisibleSecond: Boolean,
      isVisibleThird: Boolean,
      isChanged: Boolean,
      circleFigure: Object,
    },
    data () {
      return {
        first: this.isVisibleFirst,
        second: this.isVisibleSecond,
        third: this.isVisibleThird,
        changed: this.isChanged,
        help1: this.circleFigure,
        help2: this.circleFigure,
        help3: this.circleFigure,
        APB: "",
        AOP: "",
        text: "<div style='opacity:0'>あ</div>",
      }
    },
    mounted() {
      this.initCircle();
    },
    methods: {
      updateWidth() {
        this.initCircle()
      },
      checkAndle(angle1, angle2, angle3, back1, back2) {
        let anp = (angle1.Value() * (180 / Math.PI)).toFixed(1)
        let a1 = (angle2.Value() * (180 / Math.PI)).toFixed(1)

        if (anp * 2 <= (a1 * 1 + .3) && anp * 2 >= (a1 * 1 - .3)) {

          if (anp > 89 && anp < 91) {
            if (this.help1.Dist(this.help2) > this.help1.Dist(this.help3)) {
              angle2.setAttribute({visible:true});
              back1.setAttribute({visible:true});
              angle3.setAttribute({visible:false});
              back2.setAttribute({visible:false});
            } else {
              angle2.setAttribute({visible:false});
              back1.setAttribute({visible:false});
              angle3.setAttribute({visible:true});
              back2.setAttribute({visible:true});
            }

          } else {
              angle2.setAttribute({visible:true});
              back1.setAttribute({visible:true});
              angle3.setAttribute({visible:false});
              back2.setAttribute({visible:false});
          }

          this.APB = (angle2.Value() * (180 / Math.PI)).toFixed(0) / 2
          this.AOP = (angle2.Value() * (180 / Math.PI)).toFixed(0)
        } else {
          this.APB = (angle3.Value() * (180 / Math.PI)).toFixed(0) / 2
          this.AOP = (angle3.Value() * (180 / Math.PI)).toFixed(0)
          angle2.setAttribute({visible:false});
          back1.setAttribute({visible:false});
          angle3.setAttribute({visible:true});
          back2.setAttribute({visible:true});
        }
        if (anp < 1) {
          angle1.setAttribute({visible:false});
        } else {
          angle1.setAttribute({visible:true});
        }
      },
      moveP(angle1, angle2, angle3) {
        this.help1.moveTo([angle1.points[0].usrCoords[1], angle1.points[0].usrCoords[2]]);
        this.help2.moveTo([angle2.childElements[Object.keys(angle2.childElements)[0]].coords.usrCoords[1], angle2.childElements[Object.keys(angle2.childElements)[0]].coords.usrCoords[2]]);
        this.help3.moveTo([angle3.childElements[Object.keys(angle3.childElements)[0]].coords.usrCoords[1], angle3.childElements[Object.keys(angle3.childElements)[0]].coords.usrCoords[2]]);
      },
      initCircle() {
        // clear previous svg content
        document.getElementById("figure").innerHTML = '';

        // disable reset button
        this.changed = false;

        // attributes
        const strokeColor = 'black';
        const commonAttrs = {name: '',strokeColor};
        const angleAttrs = {
          strokeColor,
          withLabel: true,
          fillOpacity:1,
          fillColor:'#7fd05e',
          radius:0.5,
          orthoType:'sector',
          label: {
            color: "transparent",
            visible: false,
          },
        };
        const angleAttrsBack = {strokeColor, withLabel:false, fillOpacity:1, fillColor:'#fff', radius:0.56, orthoType:'sector'};
        const angleAttrsBack1 = {strokeColor, withLabel:true, fillOpacity:1, fillColor:'#fff', radius:0.5, orthoType:'sector', label: {color: "transparent", visible: false}};
        const pointAttrs = (name,fixed) => ({name,fixed,strokeColor,fillColor:'black'});
        const pointAttrsDrag = (name,fixed) => (
          {
            name,
            fixed,
            strokeColor: 'rgba(192, 192, 192, .7)',
            fillColor: 'black',
            face: 'circle',
            strokeWidth: 20,
            highlightStrokeOpacity: 1,
            highlightStrokeWidth: 1,
            size: 4,
          }
        );

        // circle geometry
        let brd = JXG.JSXGraph.initBoard('figure', {
          keepaspectratio: true,
          boundingbox: [-6.5, 5, 4, -4],
          pan: {
            enabled: false,
          },
          zoom: {
            enabled: false,
          },
          showZoom: false,
          showNavigation: false,
          zoomFactor: 1.35,
        });

        const pO = brd.create('point', [0,0], pointAttrs('O', true));
        const pC = brd.create('point', [-1.5,-2], pointAttrs('', true));

        const circle = brd.create('circle',[pO,pC],commonAttrs);

        const gA = brd.create('glider', [-2, -2, circle], pointAttrsDrag('A', false));
        const gB = brd.create('glider', [2, -2, circle], pointAttrsDrag('B', false));

        const arc = brd.create('arc', [pO, gB, gA], commonAttrs);

        const gP = brd.create('glider', [0, 3, circle], pointAttrsDrag('P', false));

        pO.rendNode.setAttribute('class', 'hover');
        gP.rendNode.setAttribute('class', 'drag');
        gA.rendNode.setAttribute('class', 'drag');
        gB.rendNode.setAttribute('class', 'drag');

        const centeText = brd.create('text',[-1.35, -0.5, this.text], {fixed: true, fillColor:'black'});
        centeText.rendNode.setAttribute('class', 'text');
        pC.rendNode.setAttribute('class', 'hide-elips');

        brd.create('text',[3, -0.3, this.lowText], {fixed: true, fillColor:'black'})
        brd.create('text',[3, 1.7, this.topText], {fixed: true, fillColor:'black'})

        brd.create('segment',[pO,gB],commonAttrs);
        brd.create('segment',[gB,gP],commonAttrs);
        brd.create('segment',[gP,gA],commonAttrs);
        brd.create('segment',[gA,pO],commonAttrs);
        const pAngle = brd.create('nonreflexangle', [gA,gP,gB],angleAttrs);

        const oAngleBack = brd.create('angle', [gA,pO,gB], angleAttrsBack);
        const angle2 = brd.create('angle', [gA,pO,gB], angleAttrsBack1);

        const oAngleBack1 = brd.create('angle', [gB,pO,gA], angleAttrsBack);
        const angle12 = brd.create('angle', [gB,pO,gA], angleAttrsBack1);

        this.help1 = brd.create('point', [pAngle.points[0].usrCoords[1], pAngle.points[0].usrCoords[2]], pointAttrs('', true));
        this.help2 = brd.create('point', [angle2.childElements[Object.keys(angle2.childElements)[0]].coords.usrCoords[1], angle2.childElements[Object.keys(angle2.childElements)[0]].coords.usrCoords[2]], pointAttrs('', true));
        this.help3 = brd.create('point', [angle12.childElements[Object.keys(angle12.childElements)[0]].coords.usrCoords[1], angle12.childElements[Object.keys(angle12.childElements)[0]].coords.usrCoords[2]], pointAttrs('', true));

        oAngleBack1.setAttribute({visible:false});
        angle12.setAttribute({visible:false});

        oAngleBack.rendNode.setAttribute('class', 'back-angle');
        oAngleBack1.rendNode.setAttribute('class', 'back-angle');
        arc.rendNode.setAttribute('class', 'arc-class');
        angle2.rendNode.setAttribute('class', 'angle');
        angle12.rendNode.setAttribute('class', 'angle');
        pAngle.rendNode.setAttribute('class', 'angle1');
        this.help1.rendNode.setAttribute('class', 'hide-elips');
        this.help2.rendNode.setAttribute('class', 'hide-elips');
        this.help3.rendNode.setAttribute('class', 'hide-elips');

        console.log(pAngle)

        brd.update();

        this.checkAndle(pAngle, oAngleBack, oAngleBack1, angle2,  angle12)

        // replace pointLabels
        pO.label.moveTo([-.1,0.2]);
        gA.label.moveTo([-2,-2]);
        gB.label.moveTo([1.9,-2]);
        gP.label.moveTo([-0.1,2.8]);

        gP.on('drag', () => { // OPTIMIZE add debounce
          this.changed = true;
          this.checkAndle(pAngle, oAngleBack, oAngleBack1, angle2,  angle12)
          this.moveP(pAngle, angle2, angle12)
        })
        gA.on('drag', () => { // OPTIMIZE add debounce
          this.changed = true;
          this.checkAndle(pAngle, oAngleBack, oAngleBack1, angle2,  angle12)
          this.moveP(pAngle, angle2, angle12)
        })
        gB.on('drag', () => { // OPTIMIZE add debounce
          this.changed = true;
          this.checkAndle(pAngle, oAngleBack, oAngleBack1, angle2,  angle12)
          this.moveP(pAngle, angle2, angle12)
        })


      }
    },
  }
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/jsx/jsxgraph.css" scoped></style>

<style scoped>
.ancle-container {
  position: absolute;
  top: 150px;
  left: 15px;
  padding-right: 150px;
  font-size: 26px;
  font-weight: 600;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.span-first {
  width: 100px;
  display: block;
}
.hide-angle {
  fill: transparent !important;
  stroke: transparent !important;
}
.border-deg {
  border: 3px solid #00b0f0;
  padding: 5px;
  line-height: 1;
  padding-bottom: 0;
  border-radius: 10px;
  margin-bottom: 5px;
  width: 70px;
  margin-left: 4px;
  margin-right: 2px;
}
.top-ancle,
.bottom-ancle {
  margin-bottom: 5px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.figure-wrapper {
  position: relative;
}
::v-deep .arc-class {
  fill: transparent !important;
  stroke: transparent !important;
}
#figure {
  margin-top: -50px; 
}
::v-deep .text.active div {
  opacity: 1 !important;
}
::v-deep .text div {
  font-weight:300;
  font-family: Gothic A1, sans-serif;
  font-size: 50px;
  color: #fff;
  width: 100px;
  height: 100px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .7);
  opacity: 0;
  -webkit-transition: .2s opacity linear;
  -o-transition: .2s opacity linear;
  transition: .2s opacity linear;
}
::v-deep .hide-line {
  stroke: transparent;
  rx: 0;
}
::v-deep .angle1 {
  stroke: black !important;
  fill: #9dc93a !important;
  stroke-width: 2px !important;
}
::v-deep .angle {
  stroke: black;
  fill: #e3eb98;
  stroke-width: 2px;
}
::v-deep .back-angle {
  stroke: black !important;
  fill: #e3eb98 !important;
  stroke-width: 2px;
}
</style>