<template>
  <div class="figure-wrapper-container">
    <div class="figure-wrapper">
      <p class="header">
        <!--on-->
        <img v-show="first" src="../assets/s3-16-1.svg" alt="">
        <!--in-->
        <img v-show="second" src="../assets/s3-16-2.svg" alt="">
        <!--out-->
        <img v-show="third" src="../assets/s3-16-3.svg" alt="">
      </p>
      <div class="ancle-container">
        <div class="top-ancle">
          <span>∠ACB = </span>
          <span class="border-deg">{{ ACB }}</span>
          <span>°</span></div>
        <div class="bottom-ancle">
          <span>∠APB = </span>
          <span class="border-deg">{{ APB }}</span>
          <span>°</span></div>
      </div>
      <div id="figure"></div>
    </div>
    <div class="footer">
        <div class="button" v-on:click="initCircle()"></div>
    </div>
  </div>
</template>

<script>
  import * as JXG from '../assets/jsx/jsxgraphsrc.js'

  export default {
    name: "s3-16",
    props: {
      isVisibleFirst: Boolean,
      isVisibleSecond: Boolean,
      isVisibleThird: Boolean,
      isChanged: Boolean
    },
    data () {
      return {
        first: this.isVisibleFirst,
        second: this.isVisibleSecond,
        third: this.isVisibleThird,
        changed: this.isChanged,
        ACB: "",
        APB: "",
      }
    },
    mounted() {
      this.initCircle();
    },
    methods: {
      updateWidth() {
        this.initCircle()
      },
      checkPoint(point) {
        if (point > 44.9 && point < 46)  {
          this.first = true;
          this.second = false;
          this.third = false;
        } else if (point >= 46) {
          this.first = false;
          this.second = true;
          this.third = false;
        } else if (point < 45) {
          this.first = false;
          this.second = false;
          this.third = true;
        }
      },
      checkAndle(andle, fix) {
        andle.fullUpdate()
        let x = Math.floor(andle.Value() * (180 / Math.PI))
        console.log(fix)


        if (x < 1) {
          return "1"
        } else if (x > 179) {
          return "179"
        } else {
          return x
        }
      },
      initCircle() {
        // clear previous svg content
        document.getElementById("figure").innerHTML = '';

        // disable reset button
        this.changed = false;

        // second text as default
        this.first = false;
        this.second = true;
        this.third = false;

        // attributes
        const strokeColor = 'black';
        const commonAttrs = {name: '',strokeColor};
        const lineAttrs = {StraightFirst: false, StraightLast: false, strokeColor, fixed: true};
        const angleAttrs = (name) => ({
          name,
          strokeColor,
          fillOpacity: 0,
          transitionDuration: 0,
          fillColor:'#4995d3',
          orthoType:'sector'
        });
        const pointAttrs = (name,fixed) => ({name,fixed,strokeColor,fillColor:'black'});
        const pointAttrsDrag = (name,fixed) => (
          {
            name,
            fixed,
            strokeColor: 'rgba(192, 192, 192, .7)',
            fillColor: 'black',
            face: 'circle',
            strokeWidth: 20,
            highlightStrokeOpacity: 1,
            highlightStrokeWidth: 1,
            size: 4,
          }
        );

        // circle geometry
        let brd = JXG.JSXGraph.initBoard('figure', {
          keepaspectratio: true,
          boundingbox: [-6.5, 5, 4, -4],
          pan: {
            enabled: false,
          },
          zoom: {
            enabled: false,
          },
          showZoom: false,
          showNavigation: false,
          zoomFactor: 1.35,
        });

        const pO = brd.create('point', [0,0], pointAttrs('O', true));
        const pA = brd.create('point', [-1.8,-1.77], pointAttrs('A', true));
        const pB = brd.create('point', [1.8,-1.77], pointAttrs('B', true));
        const circle = brd.create('circle',[pO,pA],commonAttrs);
        const gC = brd.create('glider', [-1.5,2,circle], pointAttrsDrag('C', false));
        gC.rendNode.setAttribute('class', 'drag');
        const gP = brd.create('point', [1.2,2.22], pointAttrsDrag('P', false));
        gP.rendNode.setAttribute('class', 'drag');

        brd.create('segment',[pB,gC],commonAttrs);
        brd.create('segment',[gC,pA],commonAttrs);
        brd.create('segment',[pB,gP],commonAttrs);
        brd.create('segment',[gP,pA],commonAttrs);

        brd.create('line',[[-2.5,-1.78],[2.5,-1.78]], lineAttrs)

        const cAngle = brd.create('angle', [pA,gC,pB],angleAttrs(" "));
        const cAngle2 = brd.create('angle', [pA,gC,pB], {radius: .7, name: " "});
        const pAngle = brd.create('nonreflexangle', [pA,gP,pB],angleAttrs(' '));

        const pC = brd.create('point', [-1.5,2], pointAttrs('', true));


        cAngle.rendNode.setAttribute('class', 'cAngle');
        pC.label.rendNode.setAttribute('class', 'JXGtext let-a');
        pC.rendNode.setAttribute('class', 'hide-elips');
        cAngle2.rendNode.setAttribute('class', 'cAngle cAngle-hide');

        brd.update();

        this.APB = this.checkAndle(pAngle, 0)
        this.ACB = this.checkAndle(cAngle, 0)
        this.checkPoint(this.checkAndle(pAngle, 1))

        // replace pointLabels
        pO.label.moveTo([-0.1,-0.25]);
        pA.label.moveTo([-2,-2]);
        pB.label.moveTo([1.8,-2]);
        gC.label.moveTo([-1.8,2.4]);
        gP.label.moveTo([1.3,2.6]);
        pC.label.moveTo([cAngle2.points[4].usrCoords[1], cAngle2.points[4].usrCoords[2]]);


        gP.on('drag', () => { // OPTIMIZE add debounce
          this.changed = true;

          const x = Math.round(gP.coords.usrCoords[1] * 100)/100;
          const y = Math.round(gP.coords.usrCoords[2] * 100)/100;
          if (y < -1.76) {
            gP.moveTo([x,-1.76]);
          }

          this.checkPoint(this.checkAndle(pAngle, 1))
          this.APB = this.checkAndle(pAngle, 0)
          
        })

        gC.on('drag', () => { // OPTIMIZE add debounce
          this.changed = true;
          cAngle2.fullUpdate()
          const x = Math.round(gC.coords.usrCoords[1] * 100)/100;
          const y = Math.round(gC.coords.usrCoords[2] * 100)/100;
          // toggle P angle
          cAngle.setAttribute({visible:y > -1.3});
          pC.setAttribute({visible:y > -1.3});
          pC.label.moveTo([cAngle2.points[4].usrCoords[1], cAngle2.points[4].usrCoords[2]]);

          if ( y <= -1.55) {
            gC.moveTo([x > 0 ? 1.8 : -1.8, -1.55]);
          }

          this.ACB = this.checkAndle(cAngle)

        })
      }
    },
  }
</script>

<style src="../assets/styles/common.css" scoped></style>
<style src="../assets/jsx/jsxgraph.css" scoped></style>

<style scoped>
#figure {
  margin-top: -30px;
  margin-left: 40px;
}
.ancle-container {
  position: absolute;
  top: 150px;
  left: 0;
  padding-right: 150px;
  font-size: 52px;
  font-weight: 600;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.border-deg {
  border: 3px solid #00b0f0;
  padding: 5px;
  line-height: 1;
  padding-bottom: 0;
  border-radius: 10px;
  margin-bottom: 5px;
  width: 100px;
  margin-left: 4px;
  margin-right: 2px;
}
.top-ancle,
.bottom-ancle {
  margin-bottom: 5px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.figure-wrapper {
  position: relative;
}
::v-deep path {
  stroke: black;
  fill: #ccdf80;
  stroke-width:2px;
}
::v-deep .cAngle {
  stroke: black;
  fill: transparent !important;
}
::v-deep .cAngle-hide {
  stroke: transparent !important;
}
.header {
  position: absolute;
  top: 35px;
  left: 30px;
}
.header img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 55px;
}
::v-deep .let-a {
  height: 32px;
  width: 32px;
  background-image: url(../assets/a.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.ancle-container {
  left: 30px;
}
::v-deep .JXGtext {
  font-size: 52px!important;
}
</style>