<template>
  <div id="app">
    <div id="nav">
      <router-link to="/s1-2">s1-2</router-link> |
      <router-link to="/s1-3">s1-3</router-link> |
      <router-link to="/s1-4">s1-4</router-link> |
      <router-link to="/s1-5">s1-5</router-link> |
      <router-link to="/s2-4">s2-4</router-link> |
      <router-link to="/">s3-12</router-link> |
      <router-link to="/s3-13">s3-13</router-link> |
      <router-link to="/s3-14">s3-14</router-link> |
      <router-link to="/s3-15">s3-15</router-link> |
      <router-link to="/s3-16">s3-16</router-link> |
      <router-link to="/s3-17">s3-17</router-link> |
      <router-link to="/s3-18">s3-18</router-link> |
      <router-link to="/s3-19">s3-19</router-link> |
      <router-link to="/s3-20">s3-20</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: ITC Century Std, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 100%;
  padding-top: 40px;
}

#nav {
  padding: 30px;
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body,
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  max-height: -webkit-fill-available;
}
#nav a.router-link-exact-active {
  color: #42b983;
}
#stage_0 {
  margin: 0 auto;
}
#stage_0, #stage_1 {
  position: relative;
  width: 1280px;
  height: 960px;
}
</style>
